<!doctype html>
<html lang="en">
<head th:fragment="head">
    <meta charset="utf-8">
    <title>Real Life Gaming System</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS via Webjars -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" type="text/css"/>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <title>Real Life Gaming System</title>

    <!-- Custom styles for this template -->
    <link href="/styles/dashboard.css" rel="stylesheet">
</head>

<body>

<nav th:fragment="navbar" class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#" th:text="'RLGS '+ ${server_version}"/>
    <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="#">Sign out</a>
        </li>
    </ul>
</nav>
<nav th:fragment="sidebar" class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="app">
                    <span data-feather="home"></span>
                    Dashboard <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="agents">
                    <span data-feather="tv"></span>
                    Agents
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="setup">
                    <span data-feather="sliders"></span>
                    Setup Game
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="game">
                    <span data-feather="activity"></span>
                    Show Game
                </a>
            </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Setup Game</span>
            <!--            <a class="d-flex align-items-center text-muted" href="#">-->
            <!--                <span data-feather="plus-circle"></span>-->
            <!--            </a>-->
        </h6>
        <ul class="nav flex-column mb-2">
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span data-feather="file-text"></span>
                    Center Flags
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span data-feather="file-text"></span>
                    Battlefield Conquest
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="setup/farcry">
                    <span data-feather="file-text"></span>
                    FarCry Assault
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span data-feather="file-text"></span>
                    Signal
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span data-feather="file-text"></span>
                    Simple Timed Game
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span data-feather="file-text"></span>
                    Stronghold
                </a>
            </li>
        </ul>
    </div>
</nav>

<div th:fragment="common_setup">
    <input type="text" id="id" name="id" value="1">
    <label for="comment">Comment:</label><br>
    <input type="text" id="comment" name="comment"><br>
    <label for="starter_countdown">Starter Countdown:</label><br>
    <input type="text" id="starter_countdown" name="starter_countdown">
</div>


<div th:fragment="scripts">
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!--    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"-->
    <!--            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"-->
    <!--            crossorigin="anonymous"></script>-->
    <!--    -->
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../../../assets/js/vendor/popper.min.js"></script>
    <script src="../../../../dist/js/bootstrap.min.js"></script>

    <!-- Icons -->
    <script th:src="@{/webjars/feather-icons/4.28.0/dist/feather.min.js}"></script>
    <!--    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>-->
    <script>
        feather.replace()
    </script>
</div>
</body>
</html>
