<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head><title>Active Game</title></head>
<body>

<section layout:fragment="content">

    <div id="game_events" class="bg-white sticky-top">
        <div class="row">
            <button th:onclick="post_rest('game/process', {'id':[[${gameid}]],'message':[[${T(de.flashheart.rlg.commander.games.Game)._msg_PREPARE}]]});"
                    class="btn btn-outline-primary col-sm-auto me-1"><span
                    class="bi bi-rocket-takeoff-fill">&nbsp;Prepare</span></button>
            <button th:onclick="post_rest('game/process', {'id':[[${gameid}]],'message':[[${T(de.flashheart.rlg.commander.games.Game)._msg_RESET}]]});"
                    class="btn btn-outline-warning  col-sm-auto me-1"><span class="bi bi-skip-backward-circle-fill">&nbsp;Reset</span>
            </button>
            <button th:onclick="post_rest('game/process', {'id':[[${gameid}]],'message':[[${T(de.flashheart.rlg.commander.games.Game)._msg_READY}]]});"
                    class="btn btn-outline-secondary  col-sm-auto me-1"><span
                    class="bi bi-hand-thumbs-up-fill">&nbsp;Ready</span></button>
            <button th:onclick="post_rest('game/process', {'id':[[${gameid}]],'message':[[${T(de.flashheart.rlg.commander.games.Game)._msg_RUN}]]});"
                    class="btn btn-outline-success  col-sm-auto me-1"><span class="bi bi-play-circle-fill">&nbsp;Run</span>
            </button>
            <button th:onclick="post_rest('game/process', {'id':[[${gameid}]],'message':[[${T(de.flashheart.rlg.commander.games.Game)._msg_PAUSE}]]});"
                    class="btn btn-outline-secondary  col-sm-auto me-1"><span
                    class="bi bi-pause-circle-fill">&nbsp;Pause</span></button>
            <button th:onclick="post_rest('game/process', {'id':[[${gameid}]],'message':[[${T(de.flashheart.rlg.commander.games.Game)._msg_RESUME}]]});"
                    class="btn btn-outline-secondary  col-sm-auto me-1"><span class="bi bi-fast-forward-circle-fill">&nbsp;Resume</span>
            </button>
            <button th:onclick="post_rest('game/process', {'id':[[${gameid}]],'message':[[${T(de.flashheart.rlg.commander.games.Game)._msg_CONTINUE}]]});"
                    class="btn btn-outline-secondary  col-sm-auto me-1"><span class="bi bi-fast-forward-circle">&nbsp;Continue</span>
            </button>
            <button th:onclick="post_rest('game/process', {'id':[[${gameid}]],'message':[[${T(de.flashheart.rlg.commander.games.Game)._msg_GAME_OVER}]]});"
                    class="btn btn-outline-secondary me-auto col-sm-auto"><span class="bi bi-stop-circle-fill">&nbsp;Game Over</span>
            </button>
            <button class="btn btn-outline-danger col-sm-auto"><span class="bi bi-sliders">&nbsp;Zeus Admin</span>
            </button>
        </div>
    </div>

    <section layout:fragment="game_state">
    </section>

</section>


</body>
</html>
