<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout.html}">
<head><title>Agent List</title>

    <script>
        function test_agent(agentid, deviceid, pattern) {
            console.log("agentid: " +agentid);
            var xhttp = new XMLHttpRequest();
            var base_url = window.location.origin + "/api/system/test_agent";
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    alert(this.responseText);
                }
            };
            xhttp.open("POST", base_url + "?agentid=" + agentid + "&deviceid=" + deviceid + "&pattern=" + pattern, true);
            xhttp.setRequestHeader("Content-type", "application/json");
            xhttp.send("{}");
        }
    </script>

</head>
<body>

<section layout:fragment="content">
    <div th:switch="${agents}">
        <div class="table-responsive">
            <div class="table table-striped">
                <h2 th:case="null">No agent data yet...</h2>
                <div th:case="*">
                    <h2>Agents</h2>
                    <table class="table table-striped table-sm">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Version</th>
                            <th>last seen</th>
                            <th>AP</th>
                            <th>WIFI</th>
                            <th>failed pings</th>
                            <th>reconnects</th>
                            <th>test functions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="agent : ${agents}">
                            <td th:text="${agent.id}"></td>
                            <td th:text="${agent.software_version}"></td>
                            <td th:text="${agent.last_seen}"></td>
                            <td th:text="${agent.ap}"></td>
                            <td th:text="${agent.wifi}"></td>
                            <td th:text="${agent.failed_pings}"></td>
                            <td th:text="${agent.reconnects}"></td>
                            <td>
                                <button th:onclick="test_agent([[${agent.id}]],'sir1','medium')"><i class="fa-solid fa-moon"></i> About
                                </button>
                            </td>
                            <!--                                <td><a th:href="@{/delete/{id}(id=${student.id})}" class="btn btn-primary"><i-->
                            <!--                                        class="fas fa-user-times ml-2"></i></a></td>-->
                        </tr>
                        </tbody>
                    </table>
                </div>
                <p><a href="/app" class="btn btn-primary"> <span data-feather="file-text"></span></a></p>
            </div>
        </div>
    </div>
</section>

</body>
</html>