<div th:fragment="game_time">

    <label for="game_time" class="form-label" th:text="#{params.gametime_in_seconds}"></label>
    <input type="number" inputmode="decimal" class="form-control" id="game_time" list="game_times" value="600"
           required
           min="1" pattern="\d*">
    <datalist id="game_times">
        <option value="120" th:text="'2&nbsp;'+#{misc.minutes}"></option>
        <option value="300" th:text="'5&nbsp;'+#{misc.minutes}"></option>
        <option value="600" th:text="'10&nbsp;'+#{misc.minutes}"></option>
        <option value="900" th:text="'15&nbsp;'+#{misc.minutes}"></option>
        <option value="1500" th:text="'25&nbsp;'+#{misc.minutes}"></option>
        <option value="1800" th:text="'30&nbsp;'+#{misc.minutes}"></option>
        <option value="2700" th:text="'45&nbsp;'+#{misc.minutes}"></option>
        <option value="3600" th:text="'60&nbsp;'+#{misc.minutes}"></option>
    </datalist>
</div>

<div th:fragment="user_table">
    <h3 class="h3" th:text="#{system.users}"></h3>
    <div class="col-auto">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th th:text="#{system.table.col.username}"></th>
                <th th:text="#{system.table.col.api_key}"></th>
                <th th:text="#{misc.operations}"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">

                <td th:text="${user.username}"></td>
                <td th:text="${user.apikey}"></td>

                <td>
                    <button th:id="${user.id}+'_btn_admin'"
                            th:onclick="patch_rest('system/toggle_role', {'user_pk':[[${user.id}]],'role_name':'ROLE_ADMIN'}); reload();"
                            class="btn btn-outline-primary">
                            <span th:if="${!user.has_role('ROLE_ADMIN')}"
                                  class="bi bi-person text-warning"></span>
                        <span th:if="${user.has_role('ROLE_ADMIN')}"
                              class="bi bi-person-fill-gear text-danger"></span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div th:fragment="saved_games_table">
    <div class="row mt-3">
        <div class="col-auto">
            <table class="table table-striped table-sm">
                <thead>
                <tr>
                    <th th:text="#{params.table.col.text}"></th>
                    <th th:text="#{params.table.col.timestamp}"></th>
                    <th th:text="#{params.table.col.mode}"></th>
                    <th th:text="#{params.table.col.owner}"></th>
                    <th th:text="#{misc.operations}"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="game : ${saved_games}">
                    <td><a href="#" th:text="${game.text}" th:onclick="read_preset_game([[${game.id}]])"></a></td>
                    <td th:text="${#temporals.format(game.pit, 'dd-MM-yyyy HH:mm')}"></td>
                    <td th:text="${game.mode}"></td>
                    <td th:text="${game.owner.username}"></td>
                    <td>
                        <button th:id="${game.id}+'_btn_favorite'"
                                th:onclick="patch_rest('saved_games/default', {'saved_game_pk':[[${game.id}]]}); refresh_saved_games_table();"
                                class="btn btn-outline-primary">
                            <span th:if="${game.defaults}" class="bi bi-star-fill text-warning"></span>
                            <span th:if="${!game.defaults}" class="bi bi-star text-warning"></span>
                        </button>
                        <button th:id="${game.id}+'_btn_delete'"
                                th:onclick="delete_rest('saved_games/', {'saved_game_pk':[[${game.id}]]}); refresh_saved_games_table();"
                                class="btn btn-outline-primary">
                            <span class="bi bi-x-circle-fill text-danger"></span>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
