<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">

<head><title>Welcome to the RLGS</title></head>

<body>

<section layout:fragment="content">

    <h1>Willkommen zum Real Life Gaming System</h1>
    The RLGS is a free, electronic gaming system to be used with tactical sports like paintball, airsoft, nerf, larp.

    <h2>Zusätzliches Material</h2>
    In diesem Projekt habe ich auch fremdes Material verwendet, das von anderen Personen freundlicherweise als gemeinfrei oder
    unter einer freien Lizenz veröffentlich wurde.

    <ul>
        <li><a href="https://spring.io/projects/spring-framework">Das Spring Framework</a> ist die Grundlage
            auf der das RLGS aufbaut. Es ist eine Applikations Plattform und ein inversion of Control
            Container für Java.
        </li>
        <li><img src="/img/zeus.png" height="28" width="28"/> Zeus - <a
                href="https://www.flaticon.com/free-icon/zeus_1454985" title="zeus icons">created by Freepik -
            Flaticon</a></li>
        <li><img src="/img/buzzer.png" height="28" width="28"/> Buzzer - <a
                href="https://www.flaticon.com/free-icon/buzzer_8776664" title="zeus icons">created by Freepik -
            Flaticon</a></li>
    </ul>

    <h2>Lizenz</h2>
    RLGS wird auf Basis der <a href="https://www.gnu.org/licenses/gpl-3.0.de.html">GPLv3</a> Open Source License. Source Code
    available on <a href="https://github.com/tloehr/rlgcommander">GitHub</a>.
    <p/>
    Created by Torsten L&ouml;hr (2me@flashheart.de).



</section>
</body>
</html>
