<div th:fragment="game_time">

    <label for="game_time" class="form-label" th:text="#{params.gametime_in_seconds}"></label>
    <input type="number" inputmode="decimal" class="form-control" id="game_time" list="game_times" value="600"
           required
           min="1" pattern="\d*">
    <datalist id="game_times">
        <option value="120">2 Minuten</option>
        <option value="300">5 Minuten</option>
        <option value="600">10 Minuten</option>
        <option value="900">15 Minuten</option>
        <option value="1500">25 Minuten</option>
        <option value="1800">30 Minuten</option>
        <option value="2700">45 Minuten</option>
        <option value="3600">60 Minuten</option>
    </datalist>

</div>
