<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Layout Page</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css}" type="text/css"/>
    <link href="/styles/rlgs.css" rel="stylesheet">
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/webjars/paho-mqtt/paho-mqtt-min.js}"></script>
    <script src="/js/rlgs.js"></script>

    <script th:inline="javascript">$(document).ready(function (){
        // to make sure this is called only once
        // we take the existence of X-API-KEY as a proof for all the other keys, too.
        // The following code is executed only once during the whole session
        if (sessionStorage.getItem('X-API-KEY') === null) {
            // only run once
            // this is a valid api_key for REST requests. Or nothing when nobody is logged in.
            const mqtt = [(${mqtt})];
            sessionStorage.setItem('X-API-KEY', '[(${api_key})]');
            sessionStorage.setItem('mqtt_client_notification_topic', mqtt.client_notification_topic);
            sessionStorage.setItem('mqtt_host', mqtt.host);
            sessionStorage.setItem('mqtt_ws_port', mqtt.ws_port);

            // set the locale only once in this session
            selectElement('locale', /*[[${#authentication.principal.locale}]]*/ 'de');
        } else {
            selectElement('locale', get_locale());
        }

        connect_to_mqtt();
        update_rest_status_line();
        update_game_state_upper_left(
            // even an empty game/status will have at least a played.game_fsm_current_state entry
            JSON.parse(get_rest('game/status', {'game_id': get_game_id()})).played.game_fsm_current_state
        );
        //const url = new URL(window.location.href);
        // set to 1 if no search param present
        selectElement('game_id', get_game_id());
    })</script>

</head>

<!--<body onload="update_state_display();  connect(get_game_id());">-->
<body>
<nav id="navbar" role="navigation" class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#" data-bs-toggle="tooltip" data-bs-placement="top"
           data-bs-custom-class="custom-tooltip"
           data-bs-title="This top tooltip is themed via CSS variables.">
            <img src="/img/favicon36.png" width="30" height="30" class="d-inline-block align-top" alt="">
            RLGS2</a>
        <!--        Wenn der Bildschirm zu schmal wird-->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- ------------ -->

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="#"
                       onclick="navigate_to(window.location.origin+'/ui/home');"
                       th:classappend="${home_active}"><span class="bi bi-house-heart"
                                                             th:text="'&nbsp;'+#{main.home}"></span></a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false" th:classappend="${params_active}" th:text="#{main.new_game}">
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item"
                               href="/ui/params/upload"><span
                                class="bi bi-upload" th:text="'&nbsp;'+#{main.upload.game}"></span></a></li>
                        <li><a class="dropdown-item"
                               onclick="
                               delete_rest('game/',{'game_id': get_game_id()});
                               navigate_to(window.location.origin+'/ui/active/base', {});">
                            <span th:text="'&nbsp;'+#{main.unload.game}" class="bi bi-cloud-slash-fill"></span></a>
                        </li>
                        <hr/>
                        <!-- calls the base.html but clears the game_parameters from storage -->
                        <li><a class="dropdown-item"
                               onclick="navigate_to(window.location.origin+'/ui/params/base', {'game_mode': 'farcry'});">
                            <span class="bi bi-file-earmark-play"  th:text="'&nbsp;'+#{games.farcry}"></span></a></li>
                        <li><a class="dropdown-item"
                               onclick="navigate_to(window.location.origin+'/ui/params/base', {'game_mode': 'conquest'});">
                            <span class="bi bi-file-earmark-play" th:text="'&nbsp;'+#{games.conquest}" ></span></a>
                        </li>
                        <li><a class="dropdown-item"
                               onclick="navigate_to(window.location.origin+'/ui/params/base', {'game_mode': 'center_flags'});">
                            <span class="bi bi-file-earmark-play" th:text="'&nbsp;'+#{games.center_flags}"></span></a>
                        </li>
                        <li><a class="dropdown-item"
                               onclick="navigate_to(window.location.origin+'/ui/params/base', {'game_mode': 'hardpoint'});">
                            <span class="bi bi-file-earmark-play" th:text="'&nbsp;'+#{games.hardpoint}"></span></a>
                        </li>
                        <li><a class="dropdown-item"
                               onclick="navigate_to(window.location.origin+'/ui/params/base', {'game_mode': 'signal'});">
                            <span class="bi bi-file-earmark-play" th:text="'&nbsp;'+#{games.signal}"></span></a>
                        </li>
                        <li><a class="dropdown-item"
                               onclick="navigate_to(window.location.origin+'/ui/params/base', {'game_mode': 'stronghold'});">
                            <span class="bi bi-file-earmark-play" th:text="'&nbsp;'+#{games.stronghold}"></span></a>
                        </li>
                        <li><a class="dropdown-item"
                               onclick="navigate_to(window.location.origin+'/ui/params/base', {'game_mode': 'timed_only'});">
                            <span class="bi bi-file-earmark-play" th:text="'&nbsp;'+#{games.timed_only}"></span></a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link" th:classappend="${active_active}"
                       onclick="navigate_to(window.location.origin+'/ui/active/base');"
                       href="#"><span class="bi bi-activity" th:text="'&nbsp;'+#{main.active.game}"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:classappend="${server_active}"
                       onclick="navigate_to(window.location.origin+'/ui/server');"
                       href="#"><span class="bi bi-pc-display-horizontal">&nbsp;Server</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:classappend="${agents_active}"
                       onclick="navigate_to(window.location.origin+'/ui/agents');"
                       href="#"><span class="bi bi-pin-map" th:text="'&nbsp;'+#{main.agents}"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:classappend="${user_active}"
                       onclick="navigate_to(window.location.origin+'/ui/user');"
                       href="#">
                        <span class="bi bi-person" sec:authentication="name"></span>
                    </a>
                </li>
                <li class="nav-item" sec:authorize="hasAuthority('ROLE_ADMIN')">
                    <a class="nav-link" th:classappend="${system_active}"
                       onclick="navigate_to(window.location.origin+'/ui/system');"
                       href="#"><span class="bi bi-toggles" th:text="'&nbsp;'+#{main.system}"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">
                        <span class="bi bi-door-closed-fill" th:text="'&nbsp;'+#{main.logout}"></span>
                    </a>
                </li>
            </ul>
            <div class="col-md-auto me-4">
                <select class="form-select" id="locale" onchange="reload();">
                    <option value="de">deutsch</option>
                    <option value="en">english</option>
                    <option value="ru">русский</option>
                </select>
            </div>

            <div class="col-md-auto me-4">
                <select class="form-select" id="game_id" value="1"
                        onchange="reload();">
                    <option value="1" th:text="#{misc.game}+'&nbsp;#1'"></option>
                    <!--                    <option value="2">Game #2</option>-->
                    <!--                    <option value="3">Game #3</option>-->
                </select>
            </div>
            <script th:inline="javascript">

            </script>
        </div>
        <div class="col-auto">
            <div class="col-auto">
                <span id="game_state" class="bi bi-circle-fill bi-md" th:text="'&nbsp;'+#{game.state.empty}"></span>
            </div>
        </div>

    </div>
</nav>

<main role="main" class="container">
    <div class="container-fluid">
        <section layout:fragment="content">
            <!-- Will be replaced by content page -->
        </section>
    </div>
</main>

<footer class="footer navbar-expand-lg navbar-dark bg-dark fixed-bottom">
    <div class="text-center text-light  col-auto"><span th:text="'RLG Commander '+${server_version}"></span>&nbsp;
        <a href="https://flashheart.de">flashheart.de</a></div>
    <div class="text-center col-auto"><span id="rest_result"></span>
    </div>

</footer>

</body>
</html>
