<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Layout Page</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css}" type="text/css"/>
    <link href="/styles/rlgs.css" rel="stylesheet">
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <script th:src="@{/webjars/sockjs-client/sockjs.min.js}"></script>
    <script th:src="@{/webjars/stomp-websocket/stomp.min.js}"></script>
    <script src="/js/rlgs.js"></script>

    <script>
        function param_click(gid, gamemode) {
            const base_url = window.location.origin + '/ui/params/base';
            location.href = base_url + '?' + jQuery.param({'id': gid, 'gamemode': gamemode});
        }
    </script>
</head>

<body onload="get_rest('game/current_state', {'id':'1'}); connect();">
<nav id="navbar" role="navigation" class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="/img/favicon36.png" width="30" height="30" class="d-inline-block align-top" alt="">
            RLGS</a>
        <!--        Wenn der Bildschirm zu schmal wird-->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- ------------ -->

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="/ui/home">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Game Paramters
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" onclick="param_click($('#gameid').val(),'farcry')">FarCry
                            Assault</a></li>
                        <li><a class="dropdown-item" onclick="param_click($('#gameid').val(),'conquest')">Conquest</a>
                        </li>
                        <li><a class="dropdown-item" onclick="param_click($('#gameid').val(),'center_flags')">Center
                            Flags</a></li>
                        <li><a class="dropdown-item" onclick="param_click($('#gameid').val(),'signal')">Signal</a>
                        </li>
                        <li><a class="dropdown-item" onclick="param_click($('#gameid').val(),'stronghold')">Stronghold</a>
                        </li>
                        <li><a class="dropdown-item" onclick="param_click($('#gameid').val(),'timed_only')">Timed
                            Only</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link" href="/ui/active/base?id=1" +>Active Game</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:classappend="${agents_active}" href="/ui/agents">Agents</a>
                </li>
            </ul>
            <div class="col-md-auto me-2">
                <select class="form-select" id="gameid" value="1"
                        title="Reserved for future use. Currently RLGS can handle only one game at a time.">
                    <option value="1">Game #1</option>
                </select>
            </div>
        </div>
        <div class="col-auto">
            <div class="row">
                <div class="col-auto"><span id="game_state" class="bi bi-circle-fill bi-md">&nbsp;Empty</span>
                </div>
            </div>
            <div class="row">
                <div class="col-auto"><span id="rest_result">&nbsp;</span>
                </div>
            </div>

        </div>

    </div>
</nav>

<main role="main" class="container">
    <div class="container-fluid">
        <section layout:fragment="content">
            <!-- Will be replaced by content page -->
        </section>
    </div>
</main>

<footer class="footer navbar-expand-lg navbar-dark bg-dark fixed-bottom">
    <div class="container">
        <p class="text-center text-light"><span th:text="'Real Life Gaming System '+${server_version}"></span>&nbsp;&nbsp;<a
                href="https://www.flashheart.de">flashheart.de</a></p>
        <!--        <p th:text="'Real Life Gaming System '+${server_version}"/> <a-->
        <!--            href="https://www.flashheart.de#">flashheart.de</a>-->
    </div>
</footer>
</div>
</body>
</html>
