<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Layout Page</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css}" type="text/css"/>
    <link href="/styles/rlgs.css" rel="stylesheet">
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <script th:src="@{/webjars/sockjs-client/sockjs.min.js}"></script>
    <script th:src="@{/webjars/stomp-websocket/stomp.min.js}"></script>
    <script src="/js/rlgs.js"></script>

    <script>
        function click_with_game_mode(uri, game_mode) {
            const game_id = sessionStorage.getItem('game_id');
            sessionStorage.removeItem('game_parameters_#' + game_id);
            const base_url = window.location.origin + '/ui/' + uri;
            location.href = base_url + '?' + jQuery.param({game_mode}); // means 'game_mode' : game_mode
        }

        function click_with_game_id(uri) {
            const game_id = sessionStorage.getItem('game_id');
            const base_url = window.location.origin + '/ui/' + uri;
            location.href = base_url + '?' + jQuery.param({'id': game_id});
        }
    </script>
</head>

<body onload="get_rest('game/current_state', {'id':sessionStorage.getItem('game_id')}); connect();">
<nav id="navbar" role="navigation" class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#" data-bs-toggle="tooltip" data-bs-placement="top"
           data-bs-custom-class="custom-tooltip"
           data-bs-title="This top tooltip is themed via CSS variables.">
            <img src="/img/favicon36.png" width="30" height="30" class="d-inline-block align-top" alt="">
            RLGS2</a>
        <!--        Wenn der Bildschirm zu schmal wird-->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- ------------ -->

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="/ui/home" th:classappend="${home_active}">Home</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false" th:classappend="${params_active}">
                        Setup Games
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item"
                               href="/ui/upload"><span
                                class="bi bi-upload">&nbsp;Upload Game</span></a></li>
                        <li><a class="dropdown-item"
                               onclick="post_rest('game/unload',{'id': sessionStorage.getItem('game_id')}); go_back_to_active_game();">
                            <span class="bi bi-cloud-slash-fill">&nbsp;Unload Game</span></a>
                        </li>
                        <hr/>
                        <!-- calls the base.html but clears the game_parameters from storage -->
                        <li><a class="dropdown-item"
                               onclick="click_with_game_mode('params/base', 'farcry');">
                            <span class="bi bi-file-earmark-play">&nbsp;FarCry Assault</span></a></li>
                        <li><a class="dropdown-item"
                               onclick="click_with_game_mode('params/base', 'conquest');">
                            <span class="bi bi-file-earmark-play">&nbsp;Conquest</span></a>
                        </li>
                        <li><a class="dropdown-item"
                               onclick="click_with_game_mode('params/base', 'center_flags');">
                            <span class="bi bi-file-earmark-play">&nbsp;Center Flags</span></a>
                        </li>
                        <li><a class="dropdown-item"
                               onclick="click_with_game_mode('params/base', 'hardpoint');">
                            <span class="bi bi-file-earmark-play">&nbsp;Hardpoint</span></a>
                        </li>
                        <li><a class="dropdown-item"
                               onclick="click_with_game_mode('params/base', 'signal');">
                            <span class="bi bi-file-earmark-play">&nbsp;Signal</span></a>
                        </li>
                        <li><a class="dropdown-item"
                               onclick="click_with_game_mode('params/base', 'stronghold');">
                            <span class="bi bi-file-earmark-play">&nbsp;Stronghold</span></a>
                        </li>
                        <li><a class="dropdown-item"
                               onclick="click_with_game_mode('params/base', 'timed_only');">
                            <span class="bi bi-file-earmark-play">&nbsp;Time Only</span></a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link" th:classappend="${active_active}"
                       onclick="click_with_game_id('active/base');"
                       href="#">Active Game</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:classappend="${server_active}"
                       onclick="click_with_game_id('server');"
                       href="#">Server</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:classappend="${agents_active}" href="/ui/agents">Agents</a>
                </li>
            </ul>
            <div class="col-md-auto me-4">
                <select class="form-select" id="game_id" value="1"
                        title="Reserved for future use. Currently RLGS can handle only one game at a time.">
                    <option value="1">Game #1</option>
                    <!--                    <option value="2">Game #2</option>-->
                    <!--                    <option value="3">Game #3</option>-->
                </select>
                <script>
                    const game_id_sel = document.getElementById('game_id');
                    // first time init
                    if (!sessionStorage.getItem('runonce_game_id')) {
                        sessionStorage.setItem('runonce_game_id', '1');
                        sessionStorage.setItem('game_id', game_id_sel.value);
                    }
                    // on change update
                    game_id_sel.addEventListener('change', () => {
                        sessionStorage.setItem('game_id', game_id_sel.value);
                    }, false);
                    document.getElementById('game_id').value = sessionStorage.getItem('game_id');
                </script>
            </div>
        </div>
        <div class="col-auto">

            <div class="col-auto"><span id="game_state" class="bi bi-circle-fill bi-md">&nbsp;Empty</span>
            </div>


        </div>

    </div>
</nav>

<main role="main" class="container">
    <div class="container-fluid">
        <section layout:fragment="content">
            <!-- Will be replaced by content page -->
        </section>
    </div>
</main>

<footer class="footer navbar-expand-lg navbar-dark bg-dark fixed-bottom">
    <div class="text-center text-light  col-auto"><span th:text="'RLG Commander '+${server_version}"></span>&nbsp;&nbsp;Credits: <a
            href="https://flashheart.de/doku.php/de:credits">flashheart.de</a></div>
    <div class="text-center col-auto"><span id="rest_result"></span>
    </div>
    <script>
        update_rest_status_line();
    </script>
</footer>
</div>

</body>
</html>
