<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">

<head><title>Welcome to the RLGS</title></head>

<body>

<section layout:fragment="content">

    <h1>Current Server Status</h1>

    <div class="p-3 mb-2 bg-dark" style="color: #36FF33">
        <pre id="server_status" th:text="${server_status}"></pre>
    </div>

    <div id="div_rest_result">
        <h2 id="rest_result_message">POST REST Error Result</h2>
        <div class="p-3 mb-2 bg-dark" style="color: #36FF33">
            <pre id="last_rest_result"></pre>
        </div>
    </div>

    <script>
        if (sessionStorage.hasOwnProperty('last_rest_result')) {
            document.getElementById('rest_result_message').innerHTML = JSON.parse(sessionStorage.getItem('last_rest_result')).message;
            document.getElementById('last_rest_result').innerHTML = sessionStorage.getItem('last_rest_result');
        } else {
            document.getElementById('div_rest_result').className = 'd-none';
        }
    </script>


</section>
</body>
</html>
