<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">

<head><title th:text="#{main.server}"></title>

</head>

<body>

<section layout:fragment="content">

    <h1 th:text="#{server.current.status}"></h1>

    <div class="col-md-auto">
        <button class="btn btn-outline-info" type="button"
                th:onclick="download_json(
                    JSON.parse([[${server_status}]])
                )">

            <span class="bi bi-download">&nbsp;Download State</span>


        </button>
    </div>

    <div class="p-3 mb-2 bg-dark" style="color: #36FF33">
        <pre id="server_status"></pre>
        <script>
            document.getElementById('server_status').innerText = get_rest('game/status', {'game_id': get_game_id()});
        </script>
    </div>

    <div id="div_rest_result">
        <h2 id="rest_result_message">POST REST Error Result</h2>
        <div class="p-3 mb-2 bg-dark" style="color: #36FF33">
            <pre id="last_rest_result"></pre>
        </div>
    </div>

    <script>
        if (sessionStorage.hasOwnProperty('last_rest_result')) {
            let result = JSON.parse(sessionStorage.getItem('last_rest_result'));
            if (result.message)
                document.getElementById('rest_result_message').innerHTML = result.message;
            else
                document.getElementById('rest_result_message').innerHTML = result.targetException.message;
            document.getElementById('last_rest_result').innerHTML = sessionStorage.getItem('last_rest_result');
        } else {
            document.getElementById('div_rest_result').className = 'd-none';
        }
    </script>


</section>
</body>
</html>
