<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head><title th:text="#{main.upload.game}"></title></head>
<body>


<section layout:fragment="content">
    <div class="row mt-3">
        <div class="col-md-auto">
            <input class="form-control" id="jsonfile" type="file" accept="application/json">
        </div>
        <script>
            // react on the file upload event
            const jsonfileInput = document.getElementById("jsonfile");
            const game_id = document.getElementById('game_id').value;
            sessionStorage.removeItem('game_parameters_#' + game_id);
            jsonfileInput.addEventListener(
                "change",
                () => {
                    const file = jsonfileInput.files[0];
                    if (file) {
                        const reader = new FileReader();
                        reader.readAsText(file, "UTF-8");
                        reader.onload = function (evt) {
                            const game_parameters = JSON.parse(evt.target.result);
                            sessionStorage.setItem('game_parameters_#' + game_id, evt.target.result)
                            navigate_to(window.location.origin + '/ui/params/base?', {'game_mode': game_parameters.game_mode})
                            // location.href = window.location.origin + '/ui/params/base?' + jQuery.param({
                            //     'game_id': game_id,
                            //     'game_mode': game_parameters.game_mode
                            // });
                        }
                        reader.onerror = function (evt) {
                            console.error(evt);
                        }
                    }
                },
                false
            );
        </script>
    </div>
    <hr/>
    <div class="row mt-3">
        <h3 class="h3" th:text="#{params.table.saved.games}"></h3>
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th th:text="#{params.table.col.timestamp}"></th>
                <th th:text="#{params.table.col.text}"></th>
                <th th:text="#{params.table.col.mode}"></th>
            </tr>
            </thead>
            <tbody>
            <div th:each="game : ${saved_games}">
                <tr>
                    <td th:text="${game.pit}"></td>
                    <td th:text="${game.text}"></td>
                    <td th:text="${game.mode}"></td>
                </tr>
            </div>
            </tbody>
        </table>
    </div>
</section>


</body>
</html>
