<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{active/base.html}">
<head><title th:text="#{games.center_flags}"></title></head>
<body>

<!-- todo: game_parameters here -->

<section layout:fragment="score">
    <div class="col-auto">
        <h2 th:text="#{active.center_flags.flag_times}"></h2>
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th class="table-secondary">Agent ID</th>
                <th class="table-primary">Blue Times</th>
                <th class="table-danger">Red Times</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="score : ${scores}">
                <td th:class="${score.value0}" th:text="${score.value1}"></td>
                <td th:text="${score.value2}"></td>
                <td th:text="${score.value3}"></td>
            </tr>
            </tbody>
            <thead>
            <tr>
                <th th:text="#{active.center_flags.sums}"></th>
                <th th:text="${sum_blue}"></th>
                <th th:text="${sum_red}"></th>
            </tr>
            </thead>
        </table>
    </div>
</section>

</body>
</html>
