<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{active/base.html}">
<head><title>Conquest</title></head>
<body>

<section layout:fragment="score">

    <div class="col-auto">
        <h2 th:text="|Team Red &#8594; ${remaining_red_tickets} &#8660; ${remaining_blue_tickets}  &#8592; Team Blue|"></h2>

        <div th:if="${game_fsm_current_state.equalsIgnoreCase('EPILOG')}">
            <div>
                <canvas id="myChart" style="width:100%;max-width:800px"></canvas>
            </div>
            <script th:src="@{/webjars/chart.js/dist/chart.umd.js}"></script>
            <script th:inline="javascript">
                /*<![CDATA[*/
                //const ctx = document.getElementById('myChart');
                new Chart("myChart", {
                    type: 'line',
                    data: {
                        labels: [...[[${score_data_red}]].keys()],
                        datasets: [{
                            lineTension: 0,
                            borderWidth: 3,
                            label: 'Team Red',
                            backgroundColor: 'rgba(255,255,255,0.0)',
                            borderColor: 'rgba(255,0,0,1.0)',
                            data: [[${score_data_red}]]
                        }, {
                            lineTension: 0,
                            borderWidth: 3,
                            label: 'Team Blue',
                            backgroundColor: 'rgba(255,255,255,0.0)',
                            borderColor: 'rgba(0,0,255,1.0)',
                            data: [[${score_data_blue}]]
                        }]
                    },
                    options: {
                        legend: {display: true},
                        animation: false
                    }
                });
                /*]]>*/
            </script>
        </div>

        <h2 th:text="#{misc.capture_points}"></h2>
        <h3 class="text-danger" th:text="#{active.team_red}"></h3>
        <h4 th:if="${cps_held_by_red.size} eq 0" th:text="#{misc.none}"></h4>
        <div class="row" th:if="${cps_held_by_red.size} gt 0" th:remove="tag" th:each="cp : ${cps_held_by_red}">
            <span th:text="'&nbsp;'+${cp}" class="bi bi-flag-fill text-danger"></span>
        </div>

        <h3 class="text-primary" th:text="#{active.team_blue}"></h3>
        <h4 th:if="${cps_held_by_blue.size} eq 0" th:text="#{misc.none}"></h4>
        <div class="d-flex flex-row" th:if="${cps_held_by_blue.size} gt 0" th:remove="tag"
             th:each="cp : ${cps_held_by_blue}">
            <span th:text="'&nbsp;'+${cp}" class="bi bi-flag-fill text-primary"></span>
        </div>

    </div>
</section>

</body>
</html>
