<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{active/base.html}">
<head><title>Active Game</title></head>
<body>

<section layout:fragment="content">
    <div id = "my_header"></div>
<!--    <div th:if="${#authentication == null}"><h3>not authorized</h3></div>-->
    <script>
        var myHeaderElement = document.createElement('h2');
        myHeaderElement.innerHTML = 'Game slot #' + document.getElementById('game_id').value + ' is empty';
        document.getElementById("my_header").appendChild(myHeaderElement)
    </script>
</section>

</body>
</html>
