<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{active/base.html}">
<head><title>Active Game</title></head>
<body>

<section layout:fragment="content">
    <div id = "my_header"></div>
    <script>
        var myHeaderElement = document.createElement('h2');
        myHeaderElement.innerHTML = 'Game slot #' + sessionStorage.getItem('game_id') + ' is empty';
        document.getElementById("my_header").appendChild(myHeaderElement)
    </script>
</section>

</body>
</html>
