<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{active/base.html}">
<head><title th:text="#{games.farcry}"></title></head>
<body>

<!-- todo: game_parameters here -->

<section layout:fragment="score">
    <div class="col-auto">
        <h2 th:text="#{active.farcry.progress_text(${capture_points_taken}, ${max_capture_points})}"></h2>

        <h3 th:if="${game_fsm_current_state} eq 'EPILOG'" th:text="#{active.message.game_over}"></h3>
        <h3 th:if="${game_fsm_current_state} ne 'EPILOG'"
            th:text="#{active.farcry.game_situation(${current_active_agent},${current_active_agent_state},${next_active_agent})}"></h3>
    </div>
</section>
</body>
</html>
