<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{active/base.html}">
<head><title>Hardpoint</title></head>
<body>

<section layout:fragment="score">

    <div class="col-auto">
        <h2 th:text="|Team Red &#8594; ${score_red} &#8660; ${score_blue} &#8592; Team Blue|"></h2>
        <h2>Game Info</h2>
        <ul>
            <li>Winning Score: <strong th:text="${winning_score}"/> points</li>
            <li>A <strong>neutral</strong> flag stays online for <strong th:text="${flag_time_out}"/> seconds, before the next one will be activated.</li>
            <li>A <strong class="text-primary">BLUE</strong> or <strong class="text-danger">RED</strong> flag stays online for <strong th:text="${flag_time_up}"/> seconds, before we move on to the next one.</li>
            <li th:if="${delay_until_next_flag > 0}">There is a cool down period of <strong th:text="${delay_until_next_flag}"/> seconds between two flags."</li>
            <li th:text="|Active Flag ${active_agent} (${active_state})|"></li>
            <li th:text="|Next Agent ${next_agent}|"></li>
        </ul>
    </div>
</section>

</body>
</html>
