<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{active/base.html}">
<head><title>Magspeed Tournament</title></head>
<body>

<section layout:fragment="score">

    <div class="col-auto" id="game_over" th:if="${current_state.equals('EPILOG')}">
        <h2>GAME OVER</h2>
        <h3 th:text="|Winning Team: ${winner.get().getName()}|" th:if="${winner.isPresent()}"></h3>
        <h3 th:text="|No Winner - this is a DRAW|" th:if="${!winner.isPresent()}"></h3>
    </div>

</section>


</body>
</html>
