<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{active/base.html}">
<head><title th:text="#{games.stronghold}"></title></head>
<body>

<section layout:fragment="game-parameters">
    <ul>
        <li th:text="|#{active.timed.game_time}:&nbsp;${game_time}|"></li>
        <li th:if="${rings_total.contains('red')}">
            <span class="text-danger"
                  th:text="|#{params.stronghold.ring_wall}&nbsp;#{misc.red}:&nbsp;${role_red}|">
            </span>
        </li>
        <li th:if="${rings_total.contains('ylw')}">
            <span class="text-warning"
                  th:text="|#{params.stronghold.ring_wall}&nbsp;#{misc.yellow}:&nbsp;${role_ylw}|"></span>
        </li>
        <li th:if="${rings_total.contains('grn')}">
            <span class="text-success"
                  th:text="|#{params.stronghold.ring_wall}&nbsp;#{misc.green}:&nbsp;${role_grn}|"></span>
        </li>
        <li th:if="${rings_total.contains('blu')}">
            <span class="text-primary"
                  th:text="|#{params.stronghold.ring_wall}&nbsp;#{misc.blue}:&nbsp;${role_blu}|"></span>
        </li>
    </ul>
</section>

<section layout:fragment="score">
    <h2 th:text="#{misc.progress}"></h2>
    <div class="col-auto">
        <h3 th:if="${total_rings} gt 1" th:text="#{misc.total}"></h3>
        <div th:if="${total_rings} gt 1" class="progress mb-2">
            <div id="my_main_bar" class="progress-bar bg-secondary" role="progressbar" aria-label="mypb"
                 style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
        </div>

        <h3 th:if="${total_rings} gt 1" th:text="#{active.stronghold.current_ring}"></h3>
        <div class="progress">
            <div id="my_segment_bar" class="progress-bar" role="progressbar" aria-label="mypb1"
                 style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
        </div>

        <div class="d-inline-block">
            <div class="me-2" th:if="${broken_agents.size} gt 0">
                <div class="text-decoration-line-through" th:text="|#{active.stronghold.broken_capture_points}&nbsp;${broken_agents}|"></div>
            </div>
            <div th:if="${stable_agents.size} gt 0">
                <div th:text="|#{active.stronghold.stable_capture_points}&nbsp;${stable_agents}|"></div>
            </div>
        </div>

        <h3 id="score_text"></h3>
    </div>


    <script th:inline="javascript">
        /*<![CDATA[*/
        const segment_colors = ['bg-danger', 'bg-warning', 'bg-success', 'bg-primary'];
        const rings_taken = parseInt(/*[[${rings_taken}]]*/ 'default');
        const total_rings = parseInt(/*[[${total_rings}]]*/ 'default');

        const remain_in_this_segment = parseInt(/*[[${remain_in_this_segment}]]*/ 'default');
        const total_in_this_segment = parseInt(/*[[${total_in_this_segment}]]*/ 'default');
        const segment_progress = remain_in_this_segment / total_in_this_segment * 100;

        const i18n_text = /*[[#{active.stronghold.broken_rings}]]*/ 'Broken rings';

        document.getElementById("score_text").innerHTML = `${i18n_text}: ${rings_taken} / ${total_rings}`

        if (total_rings > 1) {
            const total_progress = rings_taken / total_rings * 100;
            // we need an additional main progressbar
            console.log('total_progress: ' + total_progress);
            document.getElementById("my_main_bar").style.width = Math.max(total_progress, 2) + "%";
        }
        document.getElementById("my_segment_bar").style.width = Math.max(segment_progress, 2) + "%";
        document.getElementById("my_segment_bar").classList.add(segment_colors[total_rings - rings_taken - 1]);
        /*]]>*/
    </script>
</section>

</body>
</html>
