<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{active/base.html}">
<head><title th:text="#{games.stronghold2}"></title></head>
<body>

<section layout:fragment="game-parameters">
    <ul>
        <li th:if="${rings_to_go.contains('red')}">
            <span class="text-danger fw-bold"
                  th:text="|#{params.stronghold.ring_wall}&nbsp;#{misc.red}:|">
            </span>
            <ul>
                <li th:text="${role_red}"></li>
                <li th:text="${time_limit_red}"></li>
            </ul>
        </li>
        <li th:if="${rings_to_go.contains('ylw')}">
            <span class="text-warning fw-bold"
                  th:text="|#{params.stronghold.ring_wall}&nbsp;#{misc.yellow}:|"></span>
            <ul>
                <li th:text="${role_ylw}"></li>
                <li th:text="${time_limit_ylw}"></li>
            </ul>
        </li>
        <li th:if="${rings_to_go.contains('grn')}">
            <span class="text-success fw-bold"
                  th:text="|#{params.stronghold.ring_wall}&nbsp;#{misc.green}:|"></span>
            <ul>
                <li th:text="${role_grn}"></li>
                <li th:text="${time_limit_grn}"></li>
            </ul>
        </li>
        <li th:if="${rings_to_go.contains('blu')}">
            <span class="text-primary fw-bold"
                  th:text="|#{params.stronghold.ring_wall}&nbsp;#{misc.blue}:|"></span>
            <ul>
                <li th:text="${role_blu}"></li>
                <li th:text="${time_limit_blu}"></li>
            </ul>
        </li>
    </ul>
</section>

<section layout:fragment="score">
    <div class="row">
        <h2 th:text="#{misc.progress}"></h2>
        <div class="col-12">
            <div class="progress" style="height: 70px">
                <div id="wall-red" class="progress-bar bg-danger fs-3" style="width: 0%" role="progressbar"
                     th:text="${text_wall_red}"></div>
                <div id="wall-yellow" class="progress-bar bg-warning fs-3" style="width: 0%" role="progressbar"
                     th:text="${text_wall_ylw}"></div>
                <div id="wall-green" class="progress-bar bg-success fs-3" style="width: 0%" role="progressbar"
                     th:text="${text_wall_grn}"></div>
                <div id="wall-blue" class="progress-bar bg-primary fs-3" style="width: 0%" role="progressbar"
                     th:text="${text_wall_blu}"></div>
            </div>
        </div>
        <script th:inline="javascript">
            /*<![CDATA[*/
            document.getElementById("wall-red").style.width = parseFloat(/*[[${percent_wall_red}]]*/ '0') + "%";
            document.getElementById("wall-yellow").style.width = parseFloat(/*[[${percent_wall_ylw}]]*/ '0') + "%";
            document.getElementById("wall-green").style.width = parseFloat(/*[[${percent_wall_grn}]]*/ '0') + "%";
            document.getElementById("wall-blue").style.width = parseFloat(/*[[${percent_wall_blu}]]*/ '0') + "%";
            /*]]>*/
        </script>
    </div>
    <div class="row" th:if="${broken_agents.size() > 0}">
        <div class="col-auto">
            <h2 th:text="#{misc.taken}"></h2>
            <div class="fs-3">
                <ul>
                    <li th:each="agent : ${broken_agents}" th:text="${agent}"></li>
                </ul>
            </div>
        </div>
    </div>

</section>

</body>
</html>
