<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{layout.html}">
<head><title>Game Parameters</title>

    <script>
        function read_json_and_check_for(mode) {
            console.log('check_form_for_mode(mode)');
            // read default json and fill the object
            $.getJSON(window.location.origin + '/defaults/' + mode + '.json', function (json) {
                // gather all form data (in a hierarchy e.g. center_flags -> with_respawns -> base)
                check_form(json);
                console.log(JSON.stringify(json));
                // now we have all data in json and post it to the rest endpoint
                post_rest('game/load', {'id': sessionStorage.getItem('gameid')}, JSON.stringify(json), function (xhttp) {
                    console.log('response: ' + xhttp.status);
                    // if status is good, we redirect to the active page
                    if (xhttp.status < 400) window.location.href = window.location.origin + '/ui/active/base?' + jQuery.param({'id': sessionStorage.getItem('gameid')});
                });
            });
        }

        function check_form_base(json) {
            console.log('check_form_base(json)');
            //$.getJSON(window.location.origin + '/defaults/'+mode+'.json', function (json) {
            json.comment = $("#comment").val();
        }

        // https://stackoverflow.com/a/30800715
        function downloadObjectAsJson(json, exportName) {
            const dataStr = "data:text/json;charset=utf-8," + encodeURIComponent(JSON.stringify(json));
            const downloadAnchorNode = document.createElement('a');
            downloadAnchorNode.setAttribute("href", dataStr);
            downloadAnchorNode.setAttribute("download", exportName + ".json");
            downloadAnchorNode.click();
            downloadAnchorNode.remove();
        }
    </script>

</head>
<body>

<section layout:fragment="content">

    <section layout:fragment="gamemode_header">
    </section>

    <hr/>
    <div class="row mb-2">
        <form class="needs-validation" onsubmit="return check_this_form()" id="params_form">
            <div class="col-md-auto">
                <label for="comment" class="form-label">Game description</label>
                <input type="text" class="form-control" value="vanilla" id="comment" required minlength="1"
                       maxlength="20"/>
                <small id="comment-help" class="form-text">Will be visible on the Spawn-Agent's LCD. 20 chars
                    only.</small>
            </div>

            <section layout:fragment="params">
            </section>

            <section layout:fragment="with_respawns">
            </section>
            <div class="col-md-auto">
                <button class="d-none" id="btn_submit_param" type="submit"></button>
            </div>
<!--            <section layout:fragment="load_params_from_file">-->
<!--            </section>-->
        </form>
    </div>
    <div class="row mb-2">
        <div class="col-md-auto">
            <button class="btn btn-outline-success" type="button"
                    onclick="document.getElementById('btn_submit_param').click();"><span
                    class="bi bi-cloud-upload-fill">&nbsp;Send to server</span>
            </button>
        </div>
        <div class="col-md-auto">
            <button class="btn btn-outline-info" type="button"
                    onclick="post_rest('game/unload',{'id': sessionStorage.getItem('gameid')})"><span
                    class="bi bi-download">&nbsp;Download parameter file</span>
            </button>
        </div>
    </div>
</section>


</body>
</html>
