<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{layout.html}">
<head><title th:text="#{main.new_game}"></title> <!-- PARAMS-->

    <script th:inline="javascript">

        let show_agent_shuffle_button = false;
        // check if something is stored in the session
        // could be uploaded or loaded from the database
        let game_parameters = sessionStorage.getItem('game_parameters') === null ? {} : JSON.parse(sessionStorage.getItem('game_parameters'));
        // we don't need it anymore
        sessionStorage.removeItem('game_parameters');

        if ($.isEmptyObject(game_parameters)) {
            const url = new URL(window.location.href);
            const mode = url.searchParams.get('game_mode');
            game_parameters = JSON.parse(loadFile(window.location.origin + '/defaults/' + mode + '.json'));
            console.log(JSON.stringify(game_parameters));
        }

        function send_to_server() {
            post_rest('game/load', {'game_id': get_game_id()}, game_parameters, function (xhttp) {
                if (xhttp.status < 400) {
                    navigate_to(window.location.origin + '/ui/active/base');
                } else {
                    update_rest_status_line();
                }
            });
        }

        function read_base_form() {
            game_parameters.comment = document.getElementById('comment').value;
            read_form();
        }

    </script>

</head>
<body>  <!-- PARAMS-->

<section layout:fragment="content">

    <section layout:fragment="gamemode_header">
    </section>

    <hr/>
    <div class="row mb-2">
        <form class="needs-validation" onsubmit="send_to_server(); return false;" id="params_form">
            <div class="col-md-auto">
                <label for="comment" class="form-label" th:text="#{params.common.game_description}"></label>
                <input type="text" class="form-control" value="vanilla" id="comment" required minlength="1"
                       maxlength="20"/>
                <small id="comment-help" class="form-text" th:text="#{params.common.game_description.comment}"></small>
            </div>

            <section layout:fragment="with_respawns">
            </section>

            <section layout:fragment="params">
            </section>


            <div class="row mb-3">
                <div layout:fragment="capture_points">
                </div>

                <div layout:fragment="reset_agents">
                </div>

                <div layout:fragment="shuffle_agents">
                </div>

                <div layout:fragment="sirens">
                </div>
            </div>


            <div class="col-md-auto">
                <button class="d-none" id="btn_submit_param" type="submit"></button>
            </div>
        </form>
    </div>

    <script>
        document.getElementById('comment').value = game_parameters.comment;
        preset_form();
    </script>

    <div class="row mt-4 mb-2">
        <div class="col-md-auto">
            <button class="btn btn-outline-success" type="button"
                    onclick="document.getElementById('btn_submit_param').click();"><span
                    class="bi bi-cloud-upload-fill" th:text="'&nbsp;'+#{params.send.to.server}"></span>
            </button>
        </div>
        <div class="col-md-auto">
            <script>
                function download_game() {
                    download_game_parameters();
                }

                function save_game() {
                    const title = document.getElementById('save-game-title').value;
                    read_base_form();
                    put_rest('saved_games/', {title}, game_parameters);
                }
            </script>
            <button class="btn btn-outline-info" type="button"
                    onclick="download_game()"><span
                    class="bi bi-download" th:text="'&nbsp;'+#{params.download.game}"></span>
            </button>
        </div>
        <div class="col-md-auto">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
                    onclick="document.getElementById('save-game-title').value = document.getElementById('comment').value;">
                <span class="bi bi-save-fill" th:text="'&nbsp;'+#{params.save.game}"></span>
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel"
                                th:text="#{params.save.game.title}"></h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <input type="text" class="form-control" value="ag01" id="save-game-title" required
                                   pattern="^[a-zA-Z0-9]+(,[a-zA-Z0-9]+)*$"/>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                                    th:text="#{params.save}" onclick="save_game()"></button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>


</body>
</html>
