<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{params/cps_and_sirens.html}">

<head>
    <title>Center Flags</title>
    <script>
        sessionStorage.setItem('game_mode', 'center_flags');


        function read_form(game_parameters) {
            game_parameters.count_respawns = document.getElementById('btn-count-respawns').hasAttribute('checked');
            game_parameters.game_time = parseInt(document.getElementById('game_time').value);

            read_cps_sirens_form(game_parameters);
        }

        function preset_form(game_parameters) {
            document.getElementById('game_time').value = game_parameters.game_time;
            if (game_parameters.count_respawns)
                document.getElementById('btn-count-respawns').setAttribute('checked', '');
            else
                document.getElementById('btn-count-respawns').removeAttribute('checked');

            preset_cps_sirens_form(game_parameters);
        }


    </script>

</head>

<body>

<section layout:fragment="gamemode_header">
    <h1>Center Flags</h1>
    <p>Time restricted game mode. The team with the most summed-up time wins. To gain score it is necessary to switch the flags to the respective team color.</p>
</section>

<section layout:fragment="params">
    <div class="row mb-3">
        <div class="col-auto">
            <label for="game_time" class="form-label">Gametime in seconds</label>
            <input type="number" class="form-control" id="game_time" list="game_times" value="600" required
                   min="1" pattern="\d*">
            <datalist id="game_times">
                <option value="120">2 Minuten</option>
                <option value="300">5 Minuten</option>
                <option value="600">10 Minuten</option>
                <option value="900">15 Minuten</option>
                <option value="1500">25 Minuten</option>
                <option value="1800">30 Minuten</option>
                <option value="2700">45 Minuten</option>
                <option value="3000">50 Minuten</option>
            </datalist>
        </div>

        <div class="col-md-auto align-self-center">
            <div class="row">
                <div class="col-auto form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="btn-count-respawns">
                    <label class="form-check-label" for="btn-count-respawns">Count respawns</label>
                </div>
            </div>
        </div>
    </div>
</section>


</body>
</html>
