<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{params/with_respawns.html}">


<head>
    <title>Center Flags</title>
    <script>
        sessionStorage.setItem('game_mode', 'center_flags');


        function check_form(json) {
            json.count_respawns = $("#btn-count-respawns").prop('checked');
            json.game_time = parseInt($("#game_time").val());
            json.resume_countdown = parseInt($("#resume_time").val());
            json.silent_game = $("#btn-check-silent").prop('checked');
            json.agents.capture_points = from_string_list($("#capture_points").val());
            json.agents.sirens = from_string_list($("#sirens").val());

            check_form_with_respawns(json);
            check_form_base(json);
        }

        function preset_gamemode_form(game_parameters) {
            document.getElementById('game_time').value = game_parameters.game_time;
            document.getElementById('capture_points').value = game_parameters.agents.capture_points.join(); // join makes a comma separated list
            document.getElementById('sirens').value = game_parameters.agents.sirens.join(); // join makes a comma separated list
            if (game_parameters.count_respawns)
                document.getElementById('btn-count-respawns').setAttribute('checked', '');
            else
                document.getElementById('btn-count-respawns').removeAttribute('checked');

            preset_respawns_form(game_parameters);
        }


    </script>

</head>

<body>

<section layout:fragment="gamemode_header">
    <h1>Center Flags</h1>
    <p>A wonderful game for the whole family from age 8 to 81</p>
</section>

<section layout:fragment="params">
    <div class="row mb-3">
        <div class="col-auto">
            <label for="game_time" class="form-label">Gametime in seconds</label>
            <input type="number" class="form-control" id="game_time" list="game_times" value="600" required
                   min="1" pattern="\d*">
            <datalist id="game_times">
                <option value="120">2 Minuten</option>
                <option value="300">5 Minuten</option>
                <option value="600">10 Minuten</option>
                <option value="900">15 Minuten</option>
                <option value="1500">25 Minuten</option>
                <option value="1800">30 Minuten</option>
                <option value="2700">45 Minuten</option>
                <option value="3000">50 Minuten</option>
            </datalist>
        </div>
        <div class=" col-auto">
            <label for="capture_points" class="form-label">Capture-Points</label>
            <!-- only comma separated allowed -->
            <input type="text" class="form-control" value="ag01" id="capture_points" required
                   pattern="^[a-zA-Z0-9]+(,[a-zA-Z0-9]+)*$"/>
            <div id="cphelp" class="form-text">Agent IDs, comma separated</div>
        </div>
        <div class=" col-auto">
            <label for="sirens" class="form-label">Sirens</label>
            <input type="text" class="form-control" value="ag50" id="sirens" required
                   pattern="^[a-zA-Z0-9]+(,[a-zA-Z0-9]+)*$"/>
            <div id="sirenhelp" class="form-text">Agent IDs, comma separated</div>
        </div>

        <div class="col-md-auto align-self-center">
            <div class="row">
                <div class="col-auto form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="btn-count-respawns">
                    <label class="form-check-label" for="btn-count-respawns">Count respawns</label>
                </div>
            </div>
        </div>
    </div>
</section>


</body>
</html>
