<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{params/cps_and_sirens.html}">


<head>
    <title>Conquest</title>
    <script>
        sessionStorage.setItem('game_mode', 'conquest');

        function read_form(game_parameters) {
            game_parameters.respawn_tickets = parseInt(document.getElementById('respawn_tickets').value);
            game_parameters.not_bleeding_before_cps = parseInt(document.getElementById('not_bleeding_before_cps').value);
            game_parameters.start_bleed_interval = parseFloat(document.getElementById('start_bleed_interval').value);
            game_parameters.end_bleed_interval = parseFloat(document.getElementById('end_bleed_interval').value);
            game_parameters.ticket_price_for_respawn = parseInt(document.getElementById('ticket_price_for_respawn').value);

            read_cps_sirens_form(game_parameters);
        }

        function preset_form(game_parameters) {
            document.getElementById('respawn_tickets').value = game_parameters.respawn_tickets;
            document.getElementById('not_bleeding_before_cps').value = game_parameters.not_bleeding_before_cps;
            document.getElementById('start_bleed_interval').value = game_parameters.start_bleed_interval;
            document.getElementById('end_bleed_interval').value = game_parameters.end_bleed_interval;
            document.getElementById('ticket_price_for_respawn').value = game_parameters.ticket_price_for_respawn;

            preset_cps_sirens_form(game_parameters);
        }


    </script>

</head>

<body>

<section layout:fragment="gamemode_header">
    <h1>Conquest</h1>
    <p>Popular game mode inspired by the Battlefield&trade; online game.</p>
</section>

<section layout:fragment="params">
    <div class="row mb-3">

        <div class="col-auto">
            <label for="respawn_tickets" class="form-label">Respawn Tickets</label>
            <input type="number" class="form-control" id="respawn_tickets" value="250" required
                   min="10" inputmode="numeric" pattern="\d*">
        </div>

        <div class="col-auto">
            <label for="not_bleeding_before_cps" class="form-label">Not bleeding before</label>
            <input type="number" class="form-control" id="not_bleeding_before_cps" value="1" required
                   min="1" inputmode="numeric" pattern="\d*">
        </div>
        <div class="col-auto">
            <label for="start_bleed_interval" class="form-label">Start bleed interval</label>
            <input type="number" placeholder="1.0" step="0.1" min="1.0" max="10.0"
                   class="form-control" id="start_bleed_interval" value="5.0"  pattern="\d*"
                   inputmode="decimal" required>
        </div>

        <div class="col-auto">
            <label for="end_bleed_interval" class="form-label">End bleed interval</label>
            <input type="number" placeholder="1.0" step="0.1" min="0.2" max="10.0"
                   class="form-control" id="end_bleed_interval" value="0.5"
                   inputmode="decimal" pattern="\d*" required>
        </div>
        <div class="col-auto">
            <label for="ticket_price_for_respawn" class="form-label">Ticket price</label>
            <input type="number" class="form-control" id="ticket_price_for_respawn" value="1" required
                   min="1" pattern="\d*" inputmode="numeric">
        </div>

    </div>

</section>

</body>
</html>
