<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{params/cps.html}">


<head>
    <title>Farcry Assault</title>
    <script>
        sessionStorage.setItem('game_mode', 'farcry');

        function read_form(game_parameters) {
            game_parameters.game_time = parseInt(document.getElementById('game_time').value);
            game_parameters.bomb_time = parseInt(document.getElementById('bomb_time').value);
            game_parameters.agents.capture_sirens = from_string_list(document.getElementById('capture_sirens').value);

            read_cps_form(game_parameters);
        }

        function preset_form(game_parameters) {
            document.getElementById('game_time').value = game_parameters.game_time;
            document.getElementById('bomb_time').value = game_parameters.bomb_time;
            document.getElementById('capture_sirens').value = game_parameters.agents.capture_sirens;

            preset_cps_form(game_parameters);
        }


    </script>

</head>

<body>

<section layout:fragment="gamemode_header">
    <h1>FarCry (2004) Assault</h1>
    <p>Very old online game similar to BF Rush.</p>
</section>

<section layout:fragment="params">
    <div class="row mb-3">

        <div class="col-auto">
            <label for="game_time" class="form-label">Gametime in seconds</label>
            <input type="number" class="form-control" id="game_time" list="game_times" value="600" required
                   min="1" pattern="\d*">
            <datalist id="game_times">
                <option value="120">2 Minuten</option>
                <option value="300">5 Minuten</option>
                <option value="600">10 Minuten</option>
                <option value="900">15 Minuten</option>
                <option value="1500">25 Minuten</option>
                <option value="1800">30 Minuten</option>
                <option value="2700">45 Minuten</option>
                <option value="3000">50 Minuten</option>
            </datalist>
        </div>

        <div class="col-auto">
            <label for="bomb_time" class="form-label">Bomb Time</label>
            <input type="number" class="form-control" id="bomb_time" value="60" required
                   min="10" pattern="\d*">
            <small id="bomb_time_help" class="form-text">Time period in seconds the attacking team will have to hold the capture point to take it.</small>
        </div>

        <div layout:fragment="sirens" class="col-lg-12 col-sm-auto col-md-auto">
            <label for="capture_sirens" class="form-label">Sirens</label>
            <input type="text" class="form-control" value="ag50" id="capture_sirens" required
                   pattern="^[a-zA-Z0-9]+(,[a-zA-Z0-9]+)*$"/>
            <div id="sirenhelp" class="form-text">Agent IDs, comma separated</div>
        </div>

    </div>
</section>

</body>
</html>
