<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{params/cps.html}">


<head>
    <title  th:text="#{games.farcry}"></title>
    <script>

        function read_form() {
            game_parameters.game_time = parseInt(document.getElementById('game_time').value);
            game_parameters.bomb_time = parseInt(document.getElementById('bomb_time').value);
            game_parameters.agents.capture_sirens = from_string_list(document.getElementById('capture_sirens').value);
            game_parameters.spawns.respawn_time = document.getElementById('respawn_time').value;

            read_cps_form(game_parameters);
        }

        function preset_form() {
            document.getElementById('game_time').value = game_parameters.game_time;
            document.getElementById('bomb_time').value = game_parameters.bomb_time;
            document.getElementById('capture_sirens').value = game_parameters.agents.capture_sirens;
            document.getElementById('respawn_time').value = game_parameters.spawns.respawn_time;
            game_parameters.spawns.respawn_time = document.getElementById('respawn_time').value;

            preset_cps_form();
        }


    </script>

</head>

<body>

<section layout:fragment="gamemode_header">
    <h1  th:text="#{games.farcry}"></h1>
    <a th:href="#{params.farcry.href}" th:text="#{params.misc.click_here_for_more}"></a>
</section>

<section layout:fragment="params">
    <div class="row mb-3">

        <div class="col-auto">
            <div th:replace="~{fragments :: game_time}"></div>
        </div>

        <div class="col-auto">
            <label for="bomb_time" class="form-label" th:title="#{params.farcry.bomb_timer_help}"
                   th:text="'&nbsp;'+#{params.farcry.bomb_timer}">
                <span class="bi bi-md bi-info-circle-fill"></span></label>
            <input type="number" class="form-control" id="bomb_time" value="60" required
                   min="10" inputmode="decimal" pattern="\d*">
        </div>

        <div class="col-auto">
            <label for="respawn_time" class="form-label" th:title="#{params.farcry.respawn_timer_help}"
                   th:text="'&nbsp;'+#{params.farcry.respawn_timer}">
                <span class="bi bi-md bi-info-circle-fill" th:text="'&nbsp;'+#{params.farcry.respawn_timer}"></span></label>
            <input type="number" class="form-control" id="respawn_time" value="30" required
                   min="0" inputmode="decimal" pattern="\d*">
        </div>

        <div layout:fragment="sirens" class="col-lg-12 col-sm-auto col-md-auto">
            <label for="capture_sirens" class="form-label" th:text="#{params.misc.sirens}"></label>
            <input type="text" class="form-control" value="ag50" id="capture_sirens" required
                   pattern="^[a-zA-Z0-9]+(,[a-zA-Z0-9]+)*$"/>
            <div id="sirenhelp" class="form-text" th:text="#{params.misc.agent_list}"></div>
        </div>

    </div>
</section>

</body>
</html>
