<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{params/cps_and_sirens.html}">

<head>
    <title>Setup Hardpoint</title>
    <script>
        show_agent_shuffle_button = true;

        function read_form() {
            game_parameters.winning_score = document.getElementById('winning_score').value;
            game_parameters.flag_time_out = parseInt(document.getElementById('flag_time_out').value);
            game_parameters.flag_time_up = parseInt(document.getElementById('flag_time_up').value);
            game_parameters.delay_until_next_flag = parseInt(document.getElementById('delay_until_next_flag').value);
            game_parameters.delay_after_color_change = parseInt(document.getElementById('delay_after_color_change').value);
            game_parameters.hide_next_flag = document.getElementById('check-hide-next-flag').checked;
            read_cps_sirens_form(game_parameters);
        }

        function preset_form() {
            document.getElementById('winning_score').value = game_parameters.winning_score;
            document.getElementById('flag_time_out').value = game_parameters.flag_time_out;
            document.getElementById('flag_time_up').value = game_parameters.flag_time_up;
            document.getElementById('delay_until_next_flag').value = game_parameters.delay_until_next_flag;
            document.getElementById('delay_after_color_change').value = game_parameters.delay_after_color_change;
            document.getElementById('check-hide-next-flag').checked = game_parameters.hide_next_flag;
            preset_cps_sirens_form(game_parameters);
        }



    </script>

</head>

<body>

<section layout:fragment="gamemode_header">
    <h1>Hardpoint</h1>
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                        aria-expanded="false" aria-controls="collapseOne">
                    Explain
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse " aria-labelledby="headingOne"
                 data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <h3>Explanation</h3>
                    <ul>
                        <li>In <a href="https://cod-esports.fandom.com/wiki/New_To_Call_of_Duty/Modes/Hardpoint">Hardpoint</a>,
                            two teams fight to control rotating objective areas on the map.
                        </li>
                        <li>There is <b>no absolute</b> time limit for the whole match. A point has to be occupied
                            in order to make the game time pass. If an active point is neutral, the time is not
                            counting down.
                        </li>
                        <li>A point needs to be switched to the team color in order to gain points. It can be turned
                            back and forth.
                        </li>
                        <li>The team holding the flag, earns points for every second the flag stays in the team color.
                        </li>
                        <li>The first team to reach the <em>Winning Score</em> wins the game.</li>
                        <li><b>Neutral Flag:</b> after <em>Flag timeOUT</em> seconds have passed and nobody was able to
                            switch a flag from NEUTRAL to
                            <span class="text-danger">RED</span> or <span class="text-primary">BLUE</span>, the system
                            shuts down the flag and activates the next one.
                        </li>
                        <li><b>Occupied Flag:</b> After <em>Flag timeUP</em> seconds have passed, the system shuts down
                            the flag and activates the next
                            one. No matter which team is currently holding it.
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section layout:fragment="params">
    <div class="row mt-3">
        <div class="col-auto">
            <label for="winning_score" class="form-label">Winning Score</label>
            <input type="number" class="form-control" id="winning_score" value="250" required
                   min="1" inputmode="decimal" pattern="\d*">
        </div>
        <div class="col-auto">
            <label for="flag_time_out" class="form-label">Flag timeOUT</label>
            <input type="number" class="form-control" id="flag_time_out" value="250" required
                   min="1" inputmode="decimal" pattern="\d*">
        </div>
        <div class="col-auto">
            <label for="flag_time_up" class="form-label">Flag timeUP</label>
            <input type="number" class="form-control" id="flag_time_up" value="250" required
                   min="1" inputmode="decimal" pattern="\d*">
        </div>
        <div class="col-auto">
            <label for="delay_until_next_flag" class="form-label">Delay between flags</label>
            <input type="number" class="form-control" id="delay_until_next_flag" value="250" required
                   min="0" inputmode="decimal" pattern="\d*">
        </div>
        <div class="col-auto">
            <label for="delay_after_color_change" class="form-label"
                   title="Number of seconds to pass before a flag accepts the first color change."><span
                    class="bi bi-md bi-info-circle-fill"></span> Delay after first color change</label>
            <input type="number" class="form-control" id="delay_after_color_change" value="1" required
                   min="0.5" max="2.5" step="0.5" inputmode="decimal" pattern="\d*">
        </div>
        <div class="col-auto align-self-center form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="check-hide-next-flag">
            <label class="form-check-label" for="check-hide-next-flag">Hide next Flag</label>
        </div>

    </div>
</section>

</body>
</html>
