<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{params/sirens.html}">

<head>
    <title>Magspeed Tournament</title>
    <script>
        sessionStorage.setItem('game_mode', 'mag_speed');

        function read_form(game_parameters) {
            game_parameters.winning_token_uid = document.getElementById('winning_token_uid').value;
            game_parameters.game_time = parseInt(document.getElementById('game_time').value);
            game_parameters.display.line1 = document.getElementById('line1').value;
            game_parameters.display.line2 = document.getElementById('line2').value;
            game_parameters.display.line3 = document.getElementById('line3').value;
            read_sirens_form(game_parameters);
        }

        function preset_form(game_parameters) {
            document.getElementById('winning_token_uid').value = game_parameters.winning_token_uid;
            document.getElementById('game_time').value = game_parameters.game_time;
            document.getElementById('line1').value = game_parameters.display.line1;
            document.getElementById('line2').value = game_parameters.display.line2;
            document.getElementById('line3').value = game_parameters.display.line3;
            preset_sirens_form(game_parameters);
        }
    </script>

</head>

<body>

<section layout:fragment="gamemode_header">
    <h1>Mag Speed Tournament</h1>
    <p>A game mode to support the MagSpeed Tournament in Montabaur, Germany.</p>
</section>

<section layout:fragment="params">
    <div class="row mt-3">
        <div class="col-auto">
            <label for="winning_token_uid" class="form-label">TOKEN to win the game</label>
            <input type="text" class="form-control" value="vanilla" id="winning_token_uid" required minlength="1"
                   maxlength="20"/>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-auto">
            <label for="game_time" class="form-label">Gametime in seconds</label>
            <input type="number" inputmode="decimal" class="form-control" id="game_time" list="game_times" value="600" required
                   min="1" pattern="\d*">
            <datalist id="game_times">
                <option value="120">2 Minuten</option>
                <option value="180">3 Minuten</option>
                <option value="300">5 Minuten</option>
                <option value="600">10 Minuten</option>
                <option value="900">15 Minuten</option>
                <option value="1500">25 Minuten</option>
                <option value="1800">30 Minuten</option>
                <option value="2700">45 Minuten</option>
                <option value="3600">60 Minuten</option>
            </datalist>
        </div>
        <div class="col-auto">
            <label for="line1" class="form-label">Line 1</label>
            <input type="text" class="form-control" value="vanilla" id="line1" required minlength="0"
                   maxlength="20"/>
        </div>
        <div class="col-auto">
            <label for="line2" class="form-label">Line 2</label>
            <input type="text" class="form-control" value="vanilla" id="line2" required minlength="0"
                   maxlength="20"/>
        </div>
        <div class="col-auto">
            <label for="line3" class="form-label">Line 3</label>
            <input type="text" class="form-control" value="vanilla" id="line3" required minlength="0"
                   maxlength="20"/>
        </div>
    </div>
</section>


</body>
</html>
