<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{params/sirens.html}">


<head>
    <title>Signal</title>
    <script>

        function read_form() {
            game_parameters.game_time = parseInt(document.getElementById('game_time').value);
            game_parameters.unlock_time = parseInt(document.getElementById('unlock_time').value);
            game_parameters.agents.blu = from_string_list(document.getElementById('cps_for_blue').value);
            game_parameters.agents.red = from_string_list(document.getElementById('cps_for_red').value);
            game_parameters.agents.capture_points = [].concat(
                game_parameters.agents.red,
                game_parameters.agents.blu
            );

            read_sirens_form();
        }

        function preset_form() {
            document.getElementById('game_time').value = game_parameters.game_time;
            document.getElementById('unlock_time').value = game_parameters.unlock_time;
            document.getElementById('cps_for_blue').value = game_parameters.agents.blu.join(); // join makes a comma separated list
            document.getElementById('cps_for_red').value = game_parameters.agents.red.join();

            preset_sirens_form();
        }

    </script>

</head>

<body>

<section layout:fragment="gamemode_header">
    <h1>Signal</h1>
    <p>Very specialized game mode. Ask about it.</p>
</section>

<section layout:fragment="params">
    <div class="row mb-3">

        <div class="col-auto">
            <div th:replace="~{/fragments :: game_time}"></div>
        </div>

        <div class="col-auto">
            <label for="unlock_time" class="form-label">Unlock Time</label>
            <input type="number" class="form-control" id="unlock_time" value="10" required
                   min="1" inputmode="decimal" pattern="\d*">
            <small id="unlock_time_help" class="form-text">Time in seconds that closed flags will wait until they are
                accessible again.</small>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-auto">
            <label for="cps_for_red" class="form-label">Red Capture-Points</label>
            <!-- only comma separated allowed -->
            <input type="text" class="form-control" value="ag01" id="cps_for_red" required
                   pattern="^[a-zA-Z0-9]+(,[a-zA-Z0-9]+)*$"/>
            <div id="cphelp1" class="form-text">Agent IDs, comma separated</div>
        </div>
        <div class="col-auto">
            <label for="cps_for_blue" class="form-label">Blue Capture-Points</label>
            <!-- only comma separated allowed -->
            <input type="text" class="form-control" value="ag02" id="cps_for_blue" required
                   pattern="^[a-zA-Z0-9]+(,[a-zA-Z0-9]+)*$"/>
            <div id="cphelp2" class="form-text">Agent IDs, comma separated</div>
        </div>
    </div>
</section>

</body>
</html>
