<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{params/sirens.html}">


<head>
    <title th:text="#{games.stronghold}"></title>
    <script>
        function read_form() {
            game_parameters.agents.blu = from_string_list(document.getElementById('blu').value);
            game_parameters.agents.grn = from_string_list(document.getElementById('grn').value);
            game_parameters.agents.ylw = from_string_list(document.getElementById('ylw').value);
            game_parameters.agents.red = from_string_list(document.getElementById('red').value);
            game_parameters.game_time = parseInt(document.getElementById('game_time').value);
            game_parameters.allow_defuse = document.getElementById('check-allow-defuse').checked;
            game_parameters.count_respawns = document.getElementById('count-respawns').checked;

            game_parameters.agents.capture_points = [].concat(
                game_parameters.agents.red,
                game_parameters.agents.ylw,
                game_parameters.agents.grn,
                game_parameters.agents.blu
            );
            console.log(JSON.stringify(game_parameters));
            read_sirens_form();
        }

        function preset_form() {
            document.getElementById('red').value = game_parameters.agents.red.join();
            document.getElementById('ylw').value = game_parameters.agents.ylw.join();
            document.getElementById('grn').value = game_parameters.agents.grn.join();
            document.getElementById('blu').value = game_parameters.agents.blu.join();
            document.getElementById('game_time').value = game_parameters.game_time;
            document.getElementById('check-allow-defuse').checked = game_parameters.allow_defuse;
            document.getElementById('count-respawns').checked = game_parameters.count_respawns;

            preset_sirens_form();
        }

    </script>

</head>

<body>

<section layout:fragment="gamemode_header">
    <h1 th:text="#{games.stronghold}"></h1>
    <a th:href="#{params.stronghold.href}" th:text="#{params.misc.click_here_for_more}"></a>
</section>

<section layout:fragment="params">
    <div class="row mb-3">
        <div class="col-auto">
            <div th:replace="~{/fragments :: game_time}"></div>
        </div>


        <div class="col-auto align-self-center form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="check-allow-defuse">
            <label class="form-check-label" for="check-allow-defuse"
                   th:text="#{params.stronghold.allow_defuse}"></label>
        </div>
        <div class="col-auto align-self-center form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="count-respawns">
            <label class="form-check-label" for="count-respawns" th:text="#{params.misc.count_respawns}"></label>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-auto">
            <label for="red" class="form-label"><span
                    class="bi bi-circle-fill bi-md text-danger"
                    th:text="#{params.stronghold.ring_wall}+'&nbsp;1'"></span></label>
            <!-- only comma separated allowed -->
            <input type="text" class="form-control" id="red" required
                   pattern="^[a-zA-Z0-9]+(,[a-zA-Z0-9]+)*$"/>
        </div>
        <div class="col-auto">
            <label for="ylw" class="form-label"><span
                    class="bi bi-circle-fill bi-md text-warning"
                    th:text="#{params.stronghold.ring_wall}+'&nbsp;2'"></span></label>
            <!-- only comma separated allowed -->
            <input type="text" class="form-control" id="ylw"
                   pattern="^[a-zA-Z0-9]+(,[a-zA-Z0-9]+)*$"/>
        </div>
        <div class="col-auto">
            <label for="grn" class="form-label"><span
                    class="bi bi-circle-fill bi-md text-success"
                    th:text="#{params.stronghold.ring_wall}+'&nbsp;3'"></span></label>
            <!-- only comma separated allowed -->
            <input type="text" class="form-control"
                   id="grn"
                   pattern="^[a-zA-Z0-9]+(,[a-zA-Z0-9]+)*$"/>
        </div>
        <div class="col-auto">
            <label for="blu" class="form-label"><span
                    class="bi bi-circle-fill bi-md text-primary"
                    th:text="#{params.stronghold.ring_wall}+'&nbsp;4'"></span></label>
            <!-- only comma separated allowed -->
            <input type="text" class="form-control" id="blu"
                   pattern="^[a-zA-Z0-9]+(,[a-zA-Z0-9]+)*$"/>
        </div>
    </div>
</section>

</body>
</html>
