<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{params/sirens.html}">

<head>
    <title>Time Only</title>
    <script>
        sessionStorage.setItem('game_mode', 'timed_only');

        function read_form(game_parameters) {
            game_parameters.game_time = parseInt(document.getElementById('game_time').value);
            game_parameters.spawns.count_respawns = document.getElementById('count-respawns').checked;
            game_parameters.display.line1 = document.getElementById('line1').value;
            game_parameters.display.line2 = document.getElementById('line2').value;
            game_parameters.display.line3 = document.getElementById('line3').value;
            read_sirens_form(game_parameters);
        }

        function preset_form(game_parameters) {
            document.getElementById('game_time').value = game_parameters.game_time;
            document.getElementById('count-respawns').checked = game_parameters.spawns.count_respawns;
            document.getElementById('line1').value = game_parameters.display.line1;
            document.getElementById('line2').value = game_parameters.display.line2;
            document.getElementById('line3').value = game_parameters.display.line3;
            preset_sirens_form(game_parameters);
        }
    </script>

</head>

<body>

<section layout:fragment="gamemode_header">
    <h1>Time Only</h1>
    <p>A game mode only to keep the time for You.</p>
</section>

<section layout:fragment="params">
    <div class="row mt-3">
        <div class="col-auto">
            <label for="game_time" class="form-label">Gametime in seconds</label>
            <input type="number" inputmode="decimal" class="form-control" id="game_time" list="game_times" value="600" required
                   min="1" pattern="\d*">
            <datalist id="game_times">
                <option value="120">2 Minuten</option>
                <option value="300">5 Minuten</option>
                <option value="600">10 Minuten</option>
                <option value="900">15 Minuten</option>
                <option value="1500">25 Minuten</option>
                <option value="1800">30 Minuten</option>
                <option value="2700">45 Minuten</option>
                <option value="3000">50 Minuten</option>
            </datalist>
        </div>
        <div class="col-auto">
            <label for="line1" class="form-label">Line 1</label>
            <input type="text" class="form-control" value="vanilla" id="line1" required minlength="0"
                   maxlength="20"/>
        </div>
        <div class="col-auto">
            <label for="line2" class="form-label">Line 2</label>
            <input type="text" class="form-control" value="vanilla" id="line2" required minlength="0"
                   maxlength="20"/>
        </div>
        <div class="col-auto">
            <label for="line3" class="form-label">Line 3</label>
            <input type="text" class="form-control" value="vanilla" id="line3" required minlength="0"
                   maxlength="20"/>
        </div>

        <div class="col-auto align-self-center form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="count-respawns">
            <label class="form-check-label" for="count-respawns">Count respawns</label>
        </div>

    </div>


</section>


</body>
</html>
