<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head><title th:text="#{main.upload.game}"></title>

</head>
<body>

<section layout:fragment="content">
    <h2 class="h2" th:text="#{params.upload.title}"></h2>
    <h3 class="h3" th:text="#{params.saved_games_locally}"></h3>
    <div class="row mt-3">
        <div class="col-md-auto">
            <input class="form-control" id="jsonfile" type="file" accept="application/json">
        </div>
        <script>
            // react on the file upload event
            const jsonfileInput = document.getElementById("jsonfile");
            jsonfileInput.addEventListener(
                "change",
                () => {
                    const file = jsonfileInput.files[0];
                    if (file) {
                        const reader = new FileReader();
                        reader.readAsText(file, "UTF-8");
                        reader.onload = function (evt) {
                            game_parameters = JSON.parse(evt.target.result);
                            sessionStorage.setItem('game_parameters', evt.target.result)
                            navigate_to(window.location.origin + '/ui/params/base', {'game_mode': game_parameters.game_mode})
                        }
                        reader.onerror = function (evt) {
                            game_parameters = {};
                            sessionStorage.removeItem('game_parameters');
                            console.error(evt);
                        }
                    }
                },
                false
            );
        </script>
    </div>
    <hr/>
    <div class="row mt-3">
        <h3 class="h3" th:text="#{params.saved_games_on_server}"></h3>
        <div class="col-auto">
            <table class="table table-striped table-sm">
                <thead>
                <tr>
                    <th th:text="#{params.table.col.text}"></th>
                    <th th:text="#{params.table.col.timestamp}"></th>
                    <th th:text="#{params.table.col.mode}"></th>
                    <th th:text="#{params.table.col.owner}"></th>
                    <th th:text="#{misc.operations}"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="game : ${saved_games}">
                    <td><a href="#" th:text="${game.text}" th:onclick="read_preset_game([[${game.id}]])"></a></td>
                    <td th:text="${#temporals.format(game.pit, 'dd-MM-yyyy HH:mm')}"></td>
                    <td th:text="${game.mode}"></td>
                    <td th:text="${game.owner.username}"></td>
                    <td>
                        <button th:id="${game.id}+'_btn_favorite'"
                                th:onclick="patch_rest('saved_games/default', {'saved_game_pk':[[${game.id}]]}); reload();"
                                class="btn btn-outline-primary">
                            <span th:if="${game.defaults}" class="bi bi-star-fill text-warning"></span>
                            <span th:if="${!game.defaults}" class="bi bi-star text-warning"></span>
                        </button>
                        <button th:id="${game.id}+'_btn_delete'"
                                th:onclick="delete_rest('saved_games/default', {'saved_game_pk':[[${game.id}]]}); reload();"
                                class="btn btn-outline-primary">
                            <span class="bi bi-x-circle-fill text-danger"></span>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
</body>
</html>
