<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head><title th:text="#{main.upload.game}"></title>

</head>
<body>

<section layout:fragment="content">
    <h2 class="h2" th:text="#{params.upload.title}"></h2>
    <h3 class="h3" th:text="#{params.saved_games_locally}"></h3>
    <div class="row mt-3">
        <div class="col-md-auto">
            <input class="form-control" id="jsonfile" type="file" accept="application/json">
        </div>
        <script>
            // react on the file upload event
            const jsonfileInput = document.getElementById("jsonfile");
            jsonfileInput.addEventListener(
                "change",
                () => {
                    const file = jsonfileInput.files[0];
                    if (file) {
                        const reader = new FileReader();
                        reader.readAsText(file, "UTF-8");
                        reader.onload = function (evt) {
                            game_parameters = JSON.parse(evt.target.result);
                            sessionStorage.setItem('game_parameters', evt.target.result)
                            navigate_to(window.location.origin + '/ui/params/base', {'game_mode': game_parameters.game_mode})
                        }
                        reader.onerror = function (evt) {
                            game_parameters = {};
                            console.error(evt);
                        }
                    }
                },
                false
            );
        </script>
    </div>
    <hr/>
    <div class="row mt-3">
        <h3 class="h3" th:text="#{params.saved_games_on_server}"></h3>
        <script>

        </script>
        <div class="col-auto">
            <select class="form-select" id="game_mode" value="center_flags"
                    onchange="refresh_saved_games_table()">
                <option value="center_flags" th:text="#{games.center_flags}"></option>
                <option value="conquest" th:text="#{games.conquest}"></option>
                <option value="farcry" th:text="#{games.farcry}"></option>
                <option value="fetch_em" th:text="#{games.fetch_em}"></option>
                <option value="hardpoint" th:text="#{games.hardpoint}"></option>
                <option value="signal" th:text="#{games.signal}"></option>
                <option value="street" th:text="#{games.street}"></option>
                <option value="stronghold" th:text="#{games.stronghold}"></option>
                <option value="stronghold2" th:text="#{games.stronghold2}"></option>
            </select>
            <script>
                selectElement('game_mode', get_current_search_param_value('game_mode', 'center_flags'));
            </script>
        </div>
        <div id="saved_games_table">
        </div>
    </div>
    <!-- scripts for this page -->
    <script th:inline="javascript">

        $(document).ready(function () {
            refresh_saved_games_table();
        });

        function refresh_saved_games_table() {
            $.ajax({
                url: '/ui/fragments/saved_games_table',
                data: {'game_mode': document.getElementById("game_mode").value},
                success: function (response) {
                    document.getElementById("saved_games_table").innerHTML = response;
                },
                error: function (xhr) {
                    console.error(xhr);
                }
            });

            // $.get("fragments/saved_games_table").done(function (fragment) { // get from controller
            //     document.getElementById("user_table").innerHTML = fragment; // update snippet of page
            // });
        }

    </script>
</section>
</body>
</html>
