<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{params/base.html}">
<head>

    <script>

        function read_respawns_form(game_parameters) {
            game_parameters.spawns.intro_mp3 = document.getElementById('intro_mp3').value;
            game_parameters.silent_game = document.getElementById('check-silent').checked;
            game_parameters.spawns.game_lobby = document.getElementById('check-lobby').checked;
            if (game_parameters.spawns.announce_sprees)
                game_parameters.spawns.announce_sprees = document.getElementById('check-spree').checked;

            if (game_parameters.spawns.intro_mp3 === '<none>') game_parameters.spawns.starter_countdown = 0;
            else game_parameters.spawns.starter_countdown = 30;

            game_parameters.spawns.teams.forEach(team => {
                if (team.role === 'red_spawn') {
                    team.agents = from_string_segment_list(document.getElementById('redfor').value);
                } else if (team.role === 'blue_spawn') {
                    team.agents = from_string_segment_list(document.getElementById('blufor').value);
                } else if (team.role === 'yellow_spawn') {
                    team.agents = from_string_segment_list(document.getElementById('yellowfor').value);
                } else if (team.role === 'green_spawn') {
                    team.agents = from_string_segment_list(document.getElementById('greenfor').value);
                }
            });
        }

        function preset_respawns_form(game_parameters) {
            document.getElementById('intro_mp3').value = game_parameters.spawns.intro_mp3;
            document.getElementById('check-lobby').checked = game_parameters.spawns.game_lobby;
            if (game_parameters.spawns.hasOwnProperty('announce_sprees')) {
                document.getElementById('check-spree').checked = game_parameters.spawns.announce_sprees;
            } else {
                document.getElementById('check-spree-widget').classList.add("d-none");
            }
            document.getElementById('check-silent').checked = game_parameters.silent_game;

            game_parameters.spawns.teams.forEach(team => {
                if (team.role === 'red_spawn') {
                    document.getElementById('redfor').value = to_string_segment_list(team.agents);
                } else if (team.role === 'blue_spawn') {
                    document.getElementById('blufor').value = to_string_segment_list(team.agents);
                } else if (team.role === 'yellow_spawn') {
                    document.getElementById('yellowfor').value = to_string_segment_list(team.agents);
                } else if (team.role === 'green_spawn') {
                    document.getElementById('greenfor').value = to_string_segment_list(team.agents);
                }
            });

            // hide spawn entries if not needed
            if (game_parameters.spawns.teams.length < 3) {
                document.getElementById('yellow_spawn').classList.add("d-none");
            }
            if (game_parameters.spawns.teams.length < 4) {
                document.getElementById('green_spawn').classList.add("d-none");
            }

        }

        /**
         * switches the teams
         */
        function swap_teams() {
            // todo: implement rotation
            const redfor = document.getElementById('redfor').value;
            const blufor = document.getElementById('blufor').value;
            document.getElementById('redfor').value = blufor;
            document.getElementById('blufor').value = redfor;
        }

    </script>

</head>

<body>


<section layout:fragment="with_respawns">
    <div class="row mb-3">
        <div class="col-auto">
            <label for="intro_mp3" class="form-label">Intro Song</label>
            <select class="form-select " style="height: 40px;" id="intro_mp3">
                <option selected value="<none>">No intro</option>
                <option th:each="intro : ${intros}" th:value="${intro.value0}" th:text="${intro.value1}"></option>
            </select>
            <div id="intro_help" class="form-text">This song will be played on the Spawn Agents during a
                30-second countdown.
            </div>
        </div>

        <div class="col-auto align-self-center form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="check-lobby">
            <label class="form-check-label" for="check-lobby">Player Lobby</label>
        </div>

        <div id="check-spree-widget" class="col-auto align-self-center form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="check-spree">
            <label class="form-check-label" for="check-spree">Announce Killing Sprees</label>
        </div>

        <div class="col-auto align-self-center form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="check-silent">
            <label class="form-check-label" for="check-silent">Silent Game</label>
        </div>

    </div>


    <div class="row">
        <div class="col-auto" id="red_spawn">
            <input type="text" class="form-control" style="border: 5px solid red;" id="redfor"
                   value="ag30" placeholder="Spawn agents for team red"
                   required/>
        </div>
        <!--        <div class="col-auto" id="swap_teams">-->
        <!--            <button type="button" class="btn btn-outline-secondary" onclick="swap_teams()"-->
        <!--                    title="swap teams"><i-->
        <!--                    class="bi bi-arrow-left-right bi-lg"></i></button>-->
        <!--        </div>-->
        <div class=" col-auto" id="blue_spawn">
            <input type="text" class="form-control" style="border: 5px solid blue;" id="blufor"
                   value="ag31" placeholder="Spawn agents for team blue"
                   required/>
        </div>
        <div class=" col-auto" id="yellow_spawn">
            <input type="text" class="form-control" style="border: 5px solid yellow;" id="yellowfor"
                   value="ag32" placeholder="Spawn agents for team yellow"
                   required/>
        </div>
        <div class=" col-auto" id="green_spawn">
            <input type="text" class="form-control" style="border: 5px solid green;" id="greenfor"
                   value="ag33" placeholder="Spawn agents for team green"
                   required/>
        </div>
    </div>

</section>

</body>
</html>
