<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{params/base.html}">
<head>

    <script th:inline="javascript">
        let number_of_teams = 2; // default

        function read_respawns_form() {
            game_parameters.spawns.intro_mp3 = document.getElementById('intro_mp3').value;
            game_parameters.spawns.intro_voice = document.getElementById('intro_voice').value;
            //game_parameters.agents.audio = from_string_list(document.getElementById('audio_group').value);
            game_parameters.silent_game = document.getElementById('check-silent').checked;
            game_parameters.spawns.game_lobby = document.getElementById('check-lobby').checked;

            if (game_parameters.spawns.count_respawns_mode !== 'ask'){
                game_parameters.spawns.count_respawns = document.getElementById('check-count-respawns').checked;
                game_parameters.spawns.announce_sprees = document.getElementById('check-spree').checked;
            }

            // we don't need a countdown timer, when both sound selections are none
            if (game_parameters.spawns.intro_mp3 === '<none>' &&
                game_parameters.spawns.intro_voice === '<none>') game_parameters.spawns.starter_countdown = 0;
            else game_parameters.spawns.starter_countdown = 30;

            game_parameters.spawns.teams.forEach(team => {
                if (team.role === 'red_spawn') {
                    team.agents = from_string_segment_list(document.getElementById('redfor').value);
                } else if (team.role === 'blue_spawn') {
                    team.agents = from_string_segment_list(document.getElementById('blufor').value);
                } else if (team.role === 'yellow_spawn') {
                    team.agents = from_string_segment_list(document.getElementById('yellowfor').value);
                } else if (team.role === 'green_spawn') {
                    team.agents = from_string_segment_list(document.getElementById('greenfor').value);
                }
            });
        }

        function preset_respawns_form() {
            number_of_teams = game_parameters.spawns.teams.length;
            document.getElementById('intro_mp3').value = game_parameters.spawns.intro_mp3;
            document.getElementById('intro_voice').value = game_parameters.spawns.intro_voice;
            //document.getElementById('audio_group').value = game_parameters.agents.audio ? game_parameters.agents.audio.join() : "";
            document.getElementById('check-lobby').checked = game_parameters.spawns.game_lobby;

            // these values are always present - no matter what the value of count_respawns_mode is
            document.getElementById('check-count-respawns').checked = game_parameters.spawns.count_respawns;
            document.getElementById('check-spree').checked = game_parameters.spawns.announce_sprees;
            if (game_parameters.spawns.count_respawns_mode !== 'ask'){
                document.getElementById('check-count-respawns-div').classList.add("d-none"); // hide
            }
            if (game_parameters.spawns.count_respawns_mode === 'never'){
                document.getElementById('check-spree-div').classList.add("d-none"); // hide
            }


            document.getElementById('check-silent').checked = game_parameters.silent_game;

            game_parameters.spawns.teams.forEach(team => {
                if (team.role === 'red_spawn') {
                    document.getElementById('redfor').value = to_string_segment_list(team.agents);
                } else if (team.role === 'blue_spawn') {
                    document.getElementById('blufor').value = to_string_segment_list(team.agents);
                } else if (team.role === 'yellow_spawn') {
                    document.getElementById('yellowfor').value = to_string_segment_list(team.agents);
                } else if (team.role === 'green_spawn') {
                    document.getElementById('greenfor').value = to_string_segment_list(team.agents);
                }
            });

            // hide spawn entries if not needed
            if (number_of_teams < 3) {
                document.getElementById('yellow_spawn').classList.add("d-none");
            }
            if (number_of_teams < 4) {
                document.getElementById('green_spawn').classList.add("d-none");
            }
            if (number_of_teams === 2) {
                document.getElementById('swap_teams').className = "col-auto";
            } else {
                document.getElementById('cycle_teams').className = "col-auto";
            }

        }

        /**
         * switches the teams
         */
        function swap_2teams() {
            const redfor = document.getElementById('redfor').value;
            const blufor = document.getElementById('blufor').value;
            document.getElementById('redfor').value = blufor;
            document.getElementById('blufor').value = redfor;
        }

        function swap_3teams() {
            const redfor = document.getElementById('redfor').value;
            const blufor = document.getElementById('blufor').value;
            const yellowfor = document.getElementById('yellowfor').value;
            document.getElementById('redfor').value = yellowfor;
            document.getElementById('blufor').value = redfor;
            document.getElementById('yellowfor').value = blufor;
        }

        function swap_4teams() {
            const redfor = document.getElementById('redfor').value;
            const blufor = document.getElementById('blufor').value;
            const yellowfor = document.getElementById('yellowfor').value;
            const greenfor = document.getElementById('greenfor').value;
            document.getElementById('redfor').value = greenfor;
            document.getElementById('blufor').value = redfor;
            document.getElementById('yellowfor').value = blufor;
            document.getElementById('greenfor').value = yellowfor;
        }

        function swap_teams() {

            if (number_of_teams === 4) {
                swap_4teams();
            } else if (number_of_teams === 3) {
                swap_3teams();
            } else if (number_of_teams === 2) {
                swap_2teams();
            }
        }


    </script>

</head>

<body>


<section layout:fragment="with_respawns">
    <div class="row mb-3">
        <div class="col-md-3 col-sm-auto">
            <label for="intro_mp3" class="form-label" th:text="#{params.with_respawns.intro_song}"></label>
            <select class="form-select " style="height: 40px;" id="intro_mp3">
                <option selected value="<none>" th:text="#{params.with_respawns.no_intro_song}"></option>
                <option th:each="intro : ${intros}" th:value="${intro.value0}" th:text="${intro.value1}"></option>
            </select>
        </div>

        <div class="col-md-3 col-sm-auto">
            <label for="intro_voice" class="form-label" th:text="#{params.with_respawns.voice}"></label>
            <select class="form-select " style="height: 40px;" id="intro_voice">
                <option selected value="<none>" th:text="#{params.with_respawns.no_voice}"></option>
                <option th:each="voice : ${voices}" th:value="${voice.value0}" th:text="${voice.value1}"></option>
            </select>
        </div>

        <!-- todo: audio group tag for later -->
        <!--        <div class="d-none  col-md-3  col-sm-auto">-->
        <!--            <label for="audio_group" class="form-label" th:text="#{params.with_respawns.audio_group}"></label>-->
        <!--            <input type="text" class="form-control" id="audio_group"-->
        <!--                   placeholder="agents for playing audio files"/>-->
        <!--            <div id="audio_group_help" class="form-text" th:text="#{params.with_respawns.audio_group_help}">-->
        <!--            </div>-->
        <!--        </div>-->

        <div class="col-auto">
            <div class="col-auto align-self-center form-check form-switch"
                 data-toggle="tooltip" data-placement="top" th:attr="title=#{params.with_respawns.player_lobby.help}">
                <input class="form-check-input" type="checkbox" role="switch" id="check-lobby">
                <label class="form-check-label" for="check-lobby"
                       th:text="#{params.with_respawns.player_lobby}"></label>
            </div>

            <div class="col-auto align-self-center form-check form-switch" id="check-silent-div">
                <input class="form-check-input" type="checkbox" role="switch" id="check-silent">
                <label class="form-check-label" for="check-silent"
                       th:text="#{params.with_respawns.silent_game}"></label>
            </div>

            <div class="col-auto align-self-center form-check form-switch" id="check-count-respawns-div">
                <input class="form-check-input" type="checkbox" role="switch" id="check-count-respawns" onchange="
                document.getElementById('check-spree').checked = this.checked;
                document.getElementById('check-spree').disabled = !this.checked;">
                <label class="form-check-label" for="check-count-respawns" th:text="#{params.misc.count_respawns}"></label>
            </div>

            <div id="check-spree-div" class="col-auto align-self-center form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="check-spree">
                <label class="form-check-label" for="check-spree"
                       th:text="#{params.with_respawns.announce_killing_sprees}"></label>
            </div>
        </div>
    </div>


    <div class="row mb-3">
        <div class="col-auto" id="red_spawn">
            <input type="text" class="form-control" style="border: 5px solid red;" id="redfor"
                   value="ag30" required/>
            <label class="form-check-label" for="redfor" th:text="#{params.with_respawns.spawn_redfor}"></label>
        </div>
        <div class="d-none" id="swap_teams">
            <button type="button" class="btn btn-outline-secondary" onclick="swap_teams()"
                    th:title="#{params.with_respawns.swap_teams}"><i
                    class="bi bi-arrow-left-right bi-lg"></i></button>
        </div>
        <div class=" col-auto" id="blue_spawn">
            <input type="text" class="form-control" style="border: 5px solid blue;" id="blufor"
                   value="ag31"
                   required/>
            <label class="form-check-label" for="blufor" th:text="#{params.with_respawns.spawn_blufor}"></label>
        </div>
        <div class=" col-auto" id="yellow_spawn">
            <input type="text" class="form-control" style="border: 5px solid yellow;" id="yellowfor"
                   value="ag32"
                   required/>
            <label class="form-check-label" for="yellowfor" th:text="#{params.with_respawns.spawn_yellowfor}"></label>
        </div>
        <div class=" col-auto" id="green_spawn">
            <input type="text" class="form-control" style="border: 5px solid green;" id="greenfor"
                   value="ag33"
                   required/>
            <label class="form-check-label" for="greenfor" th:text="#{params.with_respawns.spawn_greenfor}"></label>
        </div>
        <div class="d-none" id="cycle_teams">
            <button type="button" class="btn btn-outline-secondary" onclick="swap_teams()"
                    th:title="#{params.with_respawns.cycle_teams}"><i
                    class="bi bi-recycle bi-lg"></i></button>
        </div>
    </div>


</section>

</body>
</html>
