<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:insert="~{fragments/general.html :: head}"/>

<body>
<th:block th:insert="~{fragments/general.html :: navbar}"/>
<div class="container-fluid">
    <th:block th:insert="~{fragments/general.html :: sidebar}"/>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
        <h1>FarCry Assault Setup</h1>

        <form th:action="@{/ui/load/farcry}" th:object="${gameParams}" method="post">
            <th:block th:insert="~{fragments/general.html :: spawn_params}"/>

            <hr class="my-4"/>
            <button class="w-100 btn btn-primary btn-lg" type="submit">Load game</button>
        </form>

    </main>
</div>


<th:block th:insert="~{fragments/general.html :: scripts}"/>

</body>

</html>